{% extends "layout_wide.html" %}
{% block head %}
<style></style>
<script type="text/javascript">
function load_ontology(platform, format){
    $.post("/sfa/ListResources",{'output_format':format, 'platform':[platform]}, function( result ) {
        data=result['netmode'];
        data=data.replace(/>/g,'&gt;').
         replace(/</g,'&lt;').
         replace(/"/g,'&quot;');
        $("#data").html(data);
        $("#welcome").html("Loaded netmode RDF:");
    });
}
$(document).ready(function() {
    console.log("{{my_var}}");
    load_ontology("netmode","ttl");
$("<link/>", {
   rel: "stylesheet",
   type: "text/css",
   href: "http://cdn.jsdelivr.net/g/yasqe@2.2(yasqe.min.css),yasr@2.4(yasr.min.css)"
}).appendTo("head");


});


</script>

{% endblock %}

{% block content %}

<div id="yasqe"></div>
<div id="yasr"></div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='http://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js'></script>
<script src='http://cdn.jsdelivr.net/yasr/2.4/yasr.bundled.min.js'></script>
<script src="/static/js/omn.js"></script>

<div id="welcome">Netmode RDF data: {{my_var}}</div>
<pre><code id="data"></code></pre>
{% endblock %}
