



table.mytable { border-collapse: collapse; border: 1px solid #839E99;background: #f1f8ee; font: .9em/1.2em Georgia, "Times New Roman", Times, serif; color: #033;  table-layout:fixed; width:870px}
.mytable td, th { padding: 3px 3px .75em 3px; line-height: 1.3em; }
.mytable th { background: #839E99; color: #fff; font-weight: bold;  padding-right: .5em; vertical-align: top; text-align:center }
.mytable  td {word-wrap: break-word; text-align:center}
tr.border_bottom td {border-bottom:1pt solid green;}


/******************************
* STYLE FOR PERSONAL DETAILS TABLE
*******************************/


#info {
  background-color : #839E99;
  border : 1px solid #839E99;
  padding : 1em;
  margin-bottom : 1em;
}

#error_msg {
  background-color : #f2dbdb;
  border : 1px solid red;
  padding : 1em;
  margin-bottom : 1em;
}

ul.errorlist li {
	font-size: 12pt;
  padding: 0px;
}

/* ADDED July 27, 2012 to fix the table collapsing on itself when the browser is below a certain size */
table.profile {  
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  min-width: 703px;
  color: black;	 
}

table.profile tr td.key {
  text-align: right;
  height: 30px;
	font-size: 16px;
  font-weight: bold;
  width: 160px;
}

table.profile tr td.value {
  padding-left: 20px;   
    min-width: 500px; /* ADDED July 27, 2012 */
}

table.profile button { 
  width: 100px;
  vertical-align: middle;
  float: right;
  margin-right: 15px;
}

#delete {
  width: 100px;
  vertical-align: middle;
  float: right;
  margin-right: 15px;

}

#upload_key {
  width: 100px;
  vertical-align: middle;
  float: right; 
  margin-right: 15px;

}



table.profile span.hide_this{ 
	display: inline;
	display: none;
}

table.profile form{ 
	display:inline;
}

#download {
  float: right;
  border: 2px solid #666;
  background-color: #fff;
  padding: 10px;
  margin-right: 0px;
  text-align: center;
  font-weight: bold;
}

#download a img {
  display: block;
  width: 150px;
}

#download a {
  color: black;
}

#download_pubkey_form {
  display : inline;	
}
/* ADDED(everything below) Aug 14, 2012 */
#generate_api {
  width: 175px;
}

#change_key form {
  display: inline;
  width: 688px; 
}

#generate_keypair {
  position:relative;
  width: 215px;
  float: right;
  margin-right: 15px;

}
#edit_password table {
 display:inline;
 margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  padding-left: 5px;
  width: 100%;
}

#edit_password td.field {
  padding-left: 5px;

}

.wide_button {
  width: 215px;
}

.api_cell {
  color:red;
}

.api_cell:hover {
  text-decoration: underline; 
}

img.help {
  position: relative;
  float: left;
  left: 162px;
  display: none;
  /* when a negative margin is applied to right or bottom
  it allows the element to overlap
  */
  margin-bottom: -50px;
}

#id_email {
  width: 200px; 
}

#aff_list {
  width: 200px;
}
#name {
  width: 200px;
}

/*Added Sept 2012 to fix long api keys creating a new line*/
#api_key {
  color: red;
  font-family: courier;
}

#up_arrow {
  height: 36px;
  width: 36px;
  float: right;
  position: relative;
  margin-right: 132px;
  /*when a negative margin is applied to right or bottom
  it allows the element to overlap
  */
  margin-bottom:-50px;
}
