/* @override unfold/static/css/plugin.css */
/* GENERAL */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}
*/
/* center the buttons vertically in the header */
div.topmenu { padding-top: 40px; }
ul.logged-in { 
    padding-top: 12px; 
}
button.logged-in { 
    font-size: small; 
    margin-left: 5px;
}
li.username {
    margin-bottom: 10px;
    font-size: x-small; 
}

.logoTxt{
    font-size: 35px;
    position: absolute;
    margin-left: 20px;
    font-family: verdana,arial,sans-serif;
    font-weight: bold;       
}
a{
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}
.container {
	padding: 0 !important;
    color: black;
    background-color: white;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100% !important;
    height: 100% !important;
    font-family: Ubuntu, Arial, sans-serif !important;
}
div.f4f-title{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    border: 1px solid #61210B;
    background-color: orange;
}
.container h1 {
    color: #777777;
    margin-top: 5px;
}
table {
   color:black;
}

.container h1, .container h2 {
    color: #fff !important;
}

div.plugin-outline-complete, 
div.plugin-outline-body {
    border: 0px solid;
    border-radius: 0;
    border-color: #ccc;
    -webkit-transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
    transition: padding 0.2s ease-out;
    padding: 20px;
    margin: 0;
}
/*
div.plugin-outline-complete:hover, 
div.plugin-outline-body:hover {
    padding: 80px 80px 120px 80px; 
}
*/
a.plugin-tooltip { 
    font-size: 130%;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
    color: #333;
    font-family: Ubuntu, Arial, sans-serif;
    text-transform: uppercase;
}

a.plugin-tooltip:hover { 
    color: #fff; 
    text-decoration: none;
}



/* LIST VIEW */

h2.well.well-lg {
    border-radius:0;
    border: 0;
    font-family: Ubuntu, arial, sans-serif;
    /* text-transform: ; */
    font-weight: normal;
    font-size: 40px;
    /* color: #30196d; */
    color: white;
    margin-bottom: 0px;
    margin-top: 0;
    padding: 40px;
    opacity: 1;
    text-align: center;
    background-color: #30196d;
}

#complete-resources {
/*    background-color: #92f79e ; */
    background-color: #B8B2FF ;
}

#complete-filters {
/*    background-color: #4af25d; */
    background-color: #add7ff;
}

#complete-users {
/*    background-color: #ff7394 ; */
    background-color: #add7ff ;
}
/*
#complete-measurements {
    background-color: ;
}
*/
#complete-pending {
/*    background-color: #add7ff ; */
    background-color: #B8B2FF ;

}

#complete-customize-resources {
    background-color: #efdfdf;
}

#complete-msgs-pre {
    background-color: #ccc;
}

#complete-resources, 
#complete-filters, 
#complete-users, 
#complete-measurements,
#complete-pending,
#complete-customize-resources,
#complete-msgs-pre {
    opacity: 1;
    text-align: center;
    color: #333;
}

#complete-resources:hover, 
#complete-filters:hover, 
#complete-users:hover, 
#complete-measurements:hover,
#complete-pending:hover,
#complete-customize-resources:hover,
#complete-msgs-pre:hover {
    opacity: 1;
}

.nav.nav-tabs {
    font-family: Ubuntu, Arial, sans-serif;
    border: 0 !important;
    border-bottom: 3px solid #fff !important;
    margin-bottom: 40px;
}

.nav.nav-tabs li.active a {
    color: red;
    border-left: 0px solid #572bc9;
    border-top: 0px solid #572bc9;
    border-right: 0px solid #572bc9;
    background-color: orange;
}

.nav.nav-tabs li a {
    color: #333;
    border: 0 !important;
    margin-right: 5px;
}

.nav.nav-tabs li a:hover {
    color: #333;
    background: red;
    color: #fff;
    border: 0 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: orange;
}

/* TOPMENU.CSS */

body {
	/* background: #30196d !important; */
	/* background: black !important; */
	background: white !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-fixed-top {
    position: relative !important;
}

.navbar-nav li a:hover {
    color: red !important;
}

.navbar-nav li.active a {
    background: #eee !important;
    background-color: orange;
    color: #572bc9 ;
}

.navbar-nav li.active a {
    background: #eee ;
}

/* Thierry : turning this off
ul.logged-in { 
    padding-top: 25px; 
}
Thierry */
button.logged-in { 
    font-size: 1em;
    font-weight: bold; 
    margin-left: 5px;
    margin-top: -5px;
    /* background: #572bc9; */
    background: #FFD69B;
    border: 1px solid orange;
    color: #777777;
    padding: 5px 15px;
    border-radius:5px;
}

button.logged-in:hover { 
    /* background: #4af25d; */
    background: orange;
    border: 1px solid #777777;
    color: #777777;
}
li.username {
    margin-bottom: 10px;
    font-size: 0.8em;
    text-transform: none;
    font-weight: normal; 
    color: #999;
}


/* BOOTSTRAP */


ul.pagination li a {
    /* background: ; */
    color: #572bc9;
    font-family: Ubuntu, Arial, sans-serif;
}

ul.pagination li.active a {
    /* background: #572bc9; */
    background: orange;
    border: 1px solid red;
}

.btn.btn-default {
    /* background: #572bc9; */
    background: #FFD69B;
    color: #777777;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bold;
    border-color: #eea236;
}

.btn.btn-default:hover {
    /* background: #4af25d; */
    /* background: #ff7394; */
    background: orange;
    color: #333;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bold;
    border-color: #927143;
}

input {
    border-radius: 3px;
    border: none;
    border: 1px solid #ccc;
}

div.dataTables_length label, 
div.dataTables_filter label,
div.dataTables_info {
    font-family: Ubuntu, Arial, sans-serif ;
}




/* QUERYTABLE */

div.QueryTable table.dataTable th {
    font: bold 12px/22px Ubuntu, Arial, sans-serif;
    color: #333 ;
    border-right: 0px solid #333 ;
    border-bottom: 0px solid #C1DAD7 ;
    border-top: 0px solid #C1DAD7 ;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px 12px 4px 20px;
    vertical-align:middle;
    background: url('../img/tablesort-header.png') no-repeat ; 
}

div.QueryTable table.dataTable td, div.QueryTable table.dataTable textarea, div.QueryTable table.dataTable input [type="text"] {
    font: normal 12px Ubuntu, Arial, Helvetica, sans-serif;
    border-right: 0px solid #fff ;
    border-bottom: 1px solid #fff ;
}

div.QueryTable table.dataTable thead { 
    background: url('../img/tablesort-header.png') repeat-x ;
    background-color: #caebea;
}

div.QueryTable table.dataTable tfoot { 
    background: url('../img/tablesort-header.png') repeat-x ;
    /* background-color: # ; */
}


/* QUERY EDITOR */

table.query-editor {
    margin: 40px auto ;
    clear: both;
    /* width: 80%;*/
    width: 100% ;
    font-family: Ubuntu;
}

.query-editor-spacer,
.plugin.QueryUpdater,
.plugin.Tabs {
    margin-top: 60px !important;
/* Thierry : turning this off
.plugin.Tabs 
Thierry */
{
    margin-top: 60px ;
>>>>>>> 804932e8a431ddbf0d7c56457625457967b48d4c:portal/static/css/onelab_marko.css
}

table.query-editor td {
    padding: 5px 5px ;
    font: normal 12px Ubuntu, Arial, sans-serif ;
}



/* DASHBOARD */

#ms-dashboard-profile,
#ms-dashboard-testbeds,
#ms-dashboard-slices {
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 0.05s ease-out;
    padding-top: 140px;
    padding-bottom: 60px;
    margin-top: 60px;
    color: #777777;
    font-family: Ubuntu, Arial, sans-serif;
    text-align: center;
	
}

#ms-dashboard-profile:hover,
#ms-dashboard-testbeds:hover,
#ms-dashboard-slices:hover {
    margin-top: 65px;
}

#ms-dashboard-profile {
    background: url("../img/icon_users_color.png") top center no-repeat;
}

#ms-dashboard-testbeds {
    background: url("../img/icon_testbed_color.png") top center no-repeat;
}

#ms-dashboard-slices {
    background: url("../img/icon_slices_color.png") top center no-repeat;
}

.ms-dashboard-content ul {
    list-style-type: none ;
    padding-left: 0;
    text-align: center ;
}

.ms-dashboard-content {
    padding: 0 !important;
}

.ms-dashboard-content a {
/*    color: #ff7394 !important; */
    color: orange !important;
/* color: #ff0099 !important; */
}

.ms-dashboard-content a:hover {
    color: red !important;
}
.ms-dashboard-caption h2 {
    font-family: Ubuntu, Arial, sans-serif;
    border-bottom: 0 !important;
    text-transform: uppercase;
    color: #777777 !important;
}

#ms-dashboard-profile>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   

#ms-dashboard-testbeds>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   

#ms-dashboard-slices>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   

.simplelist {
    font-size: 100%;
    text-align: center !important;
    margin: 0 auto;
}

/*** NEW CSS STYLES FOR ONLEAB ***/

body {
    background-color:white;
    color:black;
}
div.wrapper {
    width:980px;
    margin:0 auto;
    position:relative;
}
/* HEADER */
div#header {
    height:100px;
    background-color:white;
}

div#secondary {
    
}

div#secondary ul {
    position:absolute;
    top:20px;
    right:0;
}

div#secondary li {
    font-size:10pt;
    float:left;
    list-style:none;
    margin-right:30px;
}
div#secondary li a {
    color:black;
}
div#secondary li a:hover {
    color:#270A5A;
    text-decoration:none;
}
div#secondary li:last-child {
    margin-right:0;
}

div#navigation {
    background-color:black;
    width:100%;
    height:40px;
}
div#navigation div.wrapper {
    text-align:center;
}
div#navigation ul {
    margin:0;
    padding:0;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}

div#navigation li {
    color:white;
    font-family:helvetica, sans-serif;
    font-size:10pt ;
    font-weight:normal;
    line-height:0.8em;
    letter-spacing:0.6pt;
    list-style:none;
    float:left;
    padding:0;
    margin:15px 50px 0 0;
}
div#navigation li a {
    color:white;
}
div#navigation li a:hover {
    text-decoration:none;
    color:#B8B2FF;
}
div#navigation li:last-child {
    margin-right:0;
}

/* HOME DASHBOARD */
div#home-dashboard {
    color:black;
    margin:25px 0;
}
div#home-dashboard table {
    margin:25px;
    width:100%;
}
div#home-dashboard table td {
    text-align:center;
    padding:15px 0;
    width:33%;
}
div#home-dashboard table tr:first-child td {
    font-size:12pt;
    font-weight:bold;
    color:#270A5A;
}
div#home-dashboard table tr:last-child td {
    text-align:left;
}
div#home-dashboard table td.support {
    font-size:14pt;
    vertical-align:top;
    padding-left:11%;
}
div#home-dashboard table td.support a {
}
div#home-dashboard table td.support a:hover {
    text-decoration:none;
}


.login-submit {
    vertical-align:middle;
    padding:0;
}
.lost-password {
    font-size:10pt;
    color:#CCCCCC;
    text-align:right;
    padding:0px;
}
.lost-password a {
}
.login-signup {
    border-top:1px solid #CCCCCC;
    text-align:center;
    margin-top:15px;
    padding:5px 0 0 0;
}
/**/

/* NAV TABS */

.nav.nav-tabs {
}

.nav.nav-tabs li.active a {
   
}

.nav.nav-tabs li a {
}

.nav.nav-tabs li a:hover {
}

/**/
/* WELL */
div.well {
}
/**/
/* BUTTON */
.btn.btn-default {
    font-weight: bold;
}

.btn.btn-default:hover {
    font-weight: bold;
}