a, a:active, a:focus {
    color:#FF4400;
}
button.btn-onelab, input.btn-onelab {
    border:0;
    border-bottom:3px solid #FFA315;
    background-color:#FFA315;
    color:white;
}
button.btn-onelab:hover, input.btn-onelab:hover {
    border:0;
    border-bottom:3px solid #FF7E00;
    background-color:#FF7E00;
    color:white;
}
button.btn-onelab:active, input.btn-onelab:active {
    box-shadow:none;
    border-bottom:1px solid #760073;
    margin-top:2px;
}
div.navigation li a:hover, div.navigation li a.current {
    color:#FF4400;
    text-decoration:none;
}
div.home {
    background-image: url('../img/bg-smartfire.png');
    background-color:#FFFFFF;
}
div.slogan {
    text-align:center;
    color:white;
    padding-top:60px;
    text-shadow: 1px 1px #013540;
}
