<img src="{{ STATIC_URL }}img/SmartFIRE_logo.png">
<br>
<p>Dear SmartFIRE user,</p>
<p></p>
<p>You have recently requested the following slice on the SmartFIRE portal({{portal_url}}):</p> 
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{url}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<br>
<p>We regret to inform you that, a manager of your institution has not confirmed your request. Please contact the manager of your institution for further information. 
For any other queries, please contact us by replying to this email.</p>
<br>
<p>On behalf of the entire team, I wish you a fruitful user experience on SmartFIRE.</p>
<br>
<p>Yours sincerely,</p>
<p>The SmartFIRE team</p>
