<img src="{{ STATIC_URL }}img/SmartFIRE_logo.png">
<br>
<p>Dear {{first_name}} {{last_name}},</p>
<p></p>
<p>It is my pleasure to welcome you as a fully signed-up user of the SmartFIRE experimental facility. SmartFIRE provides you with access to world class computer networking testbeds, such as IoT-LAB, NITOS, and PlanetLab Europe. Our aim at SmartFIRE is to promote the use of these testbeds for pre-commercial research and development by industry, for scientific research, and for university level laboratory exercises.</p>
<p></p>
</p>
Your entry point for access to the testbeds is the SmartFIRE portal, which provides a web-based interface for browsing and reserving resources on the various testbeds. To run an experiment using those resources, you may log in to the testbed and/or individual nodes on the testbed with your SmartFIRE public/private key pair, or you may use an experiment control tool such as as NEPI or OMF. The SmartFIRE  operations team is standing by at support@onelab.eu to provide you with help regarding the portal and to refer your testbed- and tool-specific queries to those best able to answer them.
</p>
<p></p>
</p>On behalf of the entire team, I wish you a fruitful user experience with the SmartFIRE portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>The SmartFIRE team</p>
