<img src="{{ STATIC_URL }}img/SmartFIRE_logo.png">
<br>
<h1>NEW AUTHORITY REQUEST</h1>
<br>
<p>This email is only for SmartFIRE admins</p>
<br>
<h2>{{site_name}}</h2>             
<b>Authority hrn    :</b> {{authority_hrn}}<br>         
<b>Abreviated name  :</b> {{site_abbreviated_name}}<br>
<b>URL              :</b> {{site_url}}<br>              
<b>City             :</b> {{address_city}}<br>          
<b>Country          :</b> {{address_country}}<br>  

<br><br>

<h2>PI for this Authority</h2>     
<b>First Name   :</b> {{first_name}}<br>
<b>Last Name    :</b> {{last_name}}<br>
<b>Authority hrn:</b> {{authority_hrn}}<br>
<b>Public key   :</b> {{public_key}}<br>
<b>Email        :</b> {{email}}<br>
<b>User Hrn     :</b> {{user_hrn}}<br>
