{% extends "layout.html" %}

{% block content %}

<div class="row">
	<h1><img src="{{ STATIC_URL }}img/icon_user_small.png" alt="User Registration" />User sign-up</h1>
</div>
<div class="row">
	{% if activation_status == 'success' %}
  		<h3>Signup request confirmed.</h3>
		<p>You are currently able to log in to the portal using your email address and the password that you have provided; however, your access is still limited.</p> 
		<p>You will have full access as soon as your account is validated by a manager at your organization. We have sent an email to your organisation's managers with a validation request.</p>
    {% elif activation_status == 'validated' %}
  		<h3>Account validated.</h3>
		<p>We have identified you as a valid PLE user. Your SmartFIRE account has automatically been approved.</p>
        <p>You have a full access to SmartFIRE testbeds.</p>
	{%else%}
		<h3>Signup confirmation failed.</h3>
		<p>You have probably arrived at this page by clicking a confirmation link in an email that we have sent to you. 
		We have been unable to match the link that you have clicked to a signup request in our database.</p>
		<p>Please <a href="/portal/contact/">contact support</a> so that we may help you complete the signup process.</p>
	{%endif%}
 </div>

{% endblock %}
