# any local dbfile
*.sqlite3
# here is a mode to 'record' the backend answers and replay them offline
offline-*
# the usual useless crap
TAGS
*.pyc
*~
# these essentially are copies/links from other places
/static/
/templates/
# various working files
play/
*.leftovers
*.hide
entrypoints.ongoing/
build/
