# any local dbfile
*.sqlite3
# the usual useless crap
TAGS
*.pyc
*~
# these essentially are copies/links from other places
/static/
/templates/
# sequels of running setup.py
build/
# css, js and html stuff for plugins should comply with
# the general django layout (templates/ and statics/{css,js}/)
# however symlinks can be convenient in a work tree
plugins/*/*.css
plugins/*/*.js
plugins/*/*.html
# myslice.ini* is not intended to be under git as it may contain keys and other specifics
myslice.ini*
# other junk
foo.*
.project
.pydevproject
/sla/trashcan