# any local dbfile
*.sqlite3
# here is a mode to 'record' the backend answers and replay them offline
offline-*
# the usual useless crap
TAGS
*.pyc
*~
# these essentially are copies/links from other places
/static/
/templates/
# sequels of running setup.py
build/
# css, js and html stuff for plugins should comply with
# the general django layout (templates/ and statics/{css,js}/)
# however symlinks can be convenient in a work tree
plugins/*/*.css
plugins/*/*.js
plugins/*/*.html
