<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Create a new Lab</title>
	</head>
	<body>
	<!-- List of existing labs -->
	{% if labs %}
		<ul>
		{% for lab in labs %}
			<li>{{ lab }} 
				<a href="/ict_education/lab-details/{{ lab.id }}">Lab details</a>
				<a href="/ict_education/delete-lab/{{ lab.id }}">Delete Lab</a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No lab</p>
	{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "ict_education.views.createLab" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<p><input type="submit" value="Add Lab" /></p>
		</form>
	</body>
</html>
