{% extends "layout-unfold1.html" %}

{% block unfold_main %}
<div id="testbed-list">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<div class="row">
		  	{% include theme|add:"_widget-slice-sections.html" %}
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#">Testbeds</a></li>
			  <li><a href="#"></a></li>
			  <li><a href="#"></a></li>
			</ul>
		</div>
		<table cellpadding="0" cellspacing="0" border="0" class="table" id="testbedList"></table>
	</div>
</div>
{% endblock unfold_main %}