
<div id="header">
	<div class="wrapper">
		<div class="logo">
			<a href="/"><img src="{{ STATIC_URL }}img/onelab-portal.png" alt="OneLab - Future Internet Testbeds" /></a>
		</div>
		
		<div id="secondary">
			<ul>
				<li>News</li>
				<li><a href="/portal/about">About</a></li>
				<li><a target="_blank" href="http://www.onelab.eu">Public Website</a></li>
				<li><a target="_blank" href="http://intranet.onelab.eu">Intranet</a></li>
			</ul>
		</div>
	</div>
	
	{% if username %}
	<div id="navigation">
		<div class="wrapper">
		<ul>
			<li id="nav-account"><a href="/portal/account/">{{ username }}</a></li>
			<li>|</li>
			<li id="nav-institution" class=""><a href="/portal/institution">INSTITUTION</a></li>
			<li class="slices">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
       				SLICES <span class="caret"></span>
    			</a>
				
				<div class="dropdown-menu">
						<ul>
							<li><a href="/portal/slice_request/">Request Slice</a></li>
							<li><a href="/slice/ple.upmc.agent3/">ple.upmc.agent3</a></li>
						    <li><a href="/slice/ple.upmc.agent/">ple.upmc.agent</a></li>
						    <li><a href="/slice/ple.upmc.myslicedemo/">ple.upmc.myslicedemo</a></li>
						    <li><a href="/slice/ple.upmc.slicestat/">ple.upmc.slicestat</a></li>
						    <li><a href="/slice/ple.upmc.agent2/">ple.upmc.agent2</a></li>
						</ul>
				</div>
				</li>
			<li id="nav-request"><a href="/portal/validate">REQUESTS</a></li>
			<li id="nav-support"><a href="/portal/support/">SUPPORT</a></li>
			<li>|</li>
			<li id="nav-logout" style="margin-top: 10px;"><a id="logout" style="cursor:pointer;" data-username="{{ username }}"><span class="glyphicon glyphicon-off"></span> LOGOUT</a></li>
		</ul>
		</div>
	</div>
	{% else %}
	<div id="navigation">
		<div class="wrapper"></div>
	</div>
	{% endif %}
</div>
<script>
	$(document).ready(function() {
		$('li.slices').mouseenter(function() {
			$('div#menu-slice-list').fadeIn(100);
		});
		$('div#menu-slice-list').mouseleave(function(e) {
			if (!$('li.slices').is(":hover")) {
				$(this).fadeOut(100);
			}
		});
		// var slices = localStorage.getItem('slices');
		// if (slices.length == 0) {
			// $.post("/rest/user/",{'filters':{'user_hrn':'$user_hrn'}}, function( data ) {
		  	// var items = [];
		  		// localStorage.setItem('slices', data[0].slice);
			// });
		// }
		// $.each(slices, function( key, val ) {
		  	// items.push( "<li><a href=\"/slice/"+val.slice_hrn+"\">" + val.slice_hrn + "</a></li>" );
		// });
		// $("div#home-slice-list").html($( "<ul/>", { html: items.join( "" ) }));
	});
</script>
