<img src="https://onelab.eu/static/images/onelab.png">	
<br>
<h1>NEW USER REQUEST</h1>
<br>
<p>You are receiving this request because we have you listed as a manager at an organization that uses OneLab.</p> 
<p>If you believe that you have received this message in error, or if you have any questions, kindly contact support@onelab.eu.</p>
<br>
<b>First name   :</b> {{first_name}}<br>
<b>Last name    :</b> {{last_name}}<br>
<b>Organization :</b> {{organization}}<br>
<b>Authority hrn:</b> {{authority_hrn}}<br>
<b>Public key   :</b> {{public_key}}<br>
<b>Email        :</b> {{email}}<br>
<b>User hrn     :</b> {{user_hrn}}<br>
<b>Portal url	:</b> {{ current_site }}<br>
<p></p>
<p>You can see new user request <a href="{{current_site}}/portal/institution#requests">in the portal.</a><p>
<p>Please note that the request will only become visible to you on the OneLab portal once the user has confirmed his/her email address.</p>
<p>Please only validate users who you know for whose actions you are prepared to take responsibility, as described in the 
<a href="{{current_site}}/terms">OneLab terms and conditions.</a> If you find any anomalies in the request 
(mistakes/spam/unauthorized persons) please <a href="mailto:support@onelab.eu">notify us.</a></p>

