<div class="col-md-8 slice-sections">
	<ul class="nav nav-pills nav-justified">
		<li {% if section == 'slice' %}class="active"{% endif %}><a href="/slice/{{ slice }}/">{{ slice }}</a></li>
		<li {% if section == 'testbeds' %}class="active"{% endif %}><a href="/testbeds/{{ slice }}/">Testbeds</a></li>
		<li {% if section == 'resources' %}class="active"{% endif %}><a href="/resources/{{ slice }}/">Resources</a></li>
		<li {% if section == 'users' %}class="active"{% endif %}><a href="/users/{{ slice }}/">Users</a></li>
		<li><a href="">Statistics</a></li>
		<li><a href="">Measurements</a></li>
	</ul>
</div>
<div class="col-md-4 slice-experiment">
	<a href="/portal/experiment"><button type="button" class="btn btn-default">Experiment</button></a>
</div>
