{% extends "layout-unfold1.html" %}

{% block unfold_main %}
<div class="wrapper" id="home-dashboard">
	<ul class="nav nav-tabs">
	  <li class="active"><a class="home-tab" data-panel="user" href="#">USER</a></li>
	  <li><a class="home-tab" data-panel="manager" href="#">MANAGER</a></li>
	</ul>
	<div class="home-panel" id="user">
		<table>
			<tr>
				<td>ACCOUNT</td>
				<td>SLICES</td>
				<td>SUPPORT</td>
			</tr>
			<tr>
				<td><a href="/portal/account/"><img src="{{ STATIC_URL }}img/icon_user_color.png" alt="" /></a></td>
				<td><a href="#"><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></a></td>
				<td><a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></a></td>
			</tr>
			<tr>
				{% if person %}
				<td class="logged-in">
					<button id="logoutbtn" type="button" class="btn btn-default" data-username="{{ username }}"><span class="glyphicon glyphicon-off"></span> Logout</button>
					<div>
					{% if person.last_name %}
						{{person.first_name}} {{person.last_name}}<br />
					{% endif %}
	    				<span class="label">Email:</span> <a href='mailto:{{person.email}}'>{{person.email}}</a>
	    			</div>
	   			{% else %}
	   			<td>
					{% include 'onelab__widget-login-user.html' %}
				{% endif %}
				</td>
				<td>
				{% if person %}
					<button id="slicerequestbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Request a Slice</button>
					<div id="home-slice-list"><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading Slices" /></div>
				{% else %}
				{% endif %}
				</td>
				<td class="support">
					<button id="ticketbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create Ticket</button>
					<div>
						<a href="/portal/contact">Contact</a> <br />
						<a href="/portal/support/documentation">Documentation</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="home-panel" id="manager">
		<table>
			<tr>
				<td>INSTITUTION</td>
				<td>SLICES</td>
				<td>REQUESTS</td>
			</tr>
			<tr>
				<td><a href="/portal/institution"><img src="{{ STATIC_URL }}img/icon_authority_color.png" alt="" /></a></td>
				<td><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></td>
				<td><a href="/portal/validate"><img src="{{ STATIC_URL }}img/icon_testbed_color.png" alt="" /></a></td>
			</tr>
			<tr>
				{% if person %}
				<td class="logged-in">
					{% if person.last_name %}
					<div><span id='username'>{{person.first_name}} {{person.last_name}}</span></div> {% endif %}
	    			<div><b>Email: </b><a href='mailto:{{person.email}}'>{{person.email}}</a></div>
	   			{% else %}
	   			<td>
					{% include 'onelab__widget-login-manager.html' %}
				{% endif %}
				</td>
				<td>
					
				</td>
				<td class="support">
					<div><a href=""></a></div>
					<div><a href=""></a></div>
				</td>
			</tr>
		</table>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('a.home-tab').click(function() {
			$('ul.nav-tabs li').removeClass('active');
			$(this).parent().addClass('active');
			$('div.home-panel').hide();
			$('div#'+$(this).data('panel')).show();
		});
		$('button#ticketbtn').click(function() {
			window.location="/portal/contact/";
		});
		$('button#slicerequestbtn').click(function() {
			window.location="/portal/slice_request/";
		});
		
		{% if person %}
        $.post("/rest/user/",{'filters':{'user_hrn':'$user_hrn'}}, function( data ) {
		  var items = [];
		  $.each( data[0].slice, function( key, val ) {
		  	items.push( "<li><a href=\"portal/slice/"+val.slice_hrn+"\">" + val.slice_hrn + "</a></li>" );
		  });
		  
		  $("div#home-slice-list").html($( "<ul/>", { html: items.join( "" ) }));
		  
		});
		{% endif %}
	});
</script>
{% endblock unfold_main %}
