{% extends "layout_wide.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/onelab_slice-resource-view.js"></script>
{% endblock %}

{% block content %}
	<div class="col-md-2">
		<div id="select-platform" class="list-group">
		</div>
			
		<ul class="list-group">
		  <li class="list-group-item">Filter: CPU</li>
		  <li class="list-group-item">Filter: Interface</li>
		  <li class="list-group-item">...</li>
		  <li class="list-group-item">...</li>
		  <li class="list-group-item">...</li>
		</ul>
	
	</div>
	<div class="col-md-10">
		<div class="row">
		  	{% include theme|add:"_widget-slice-sections.html" %}
		</div>
		<div class="row slice-pending">
			<ul class="nav nav-pills">
				<li><a href="">Unreserved</a></li>
				<li><a href="">Reserved</a></li>
				<li><a href="">Pending<span class="badge" id="badge-pending" style="display:none;"></span></a></li>
				<li>
					<button type="button" class="btn btn-primary apply">Apply</button>
					<button type="button" class="btn btn-default clear">Clear</button>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="nav nav-tabs nav-resources">
			  <li class="active"><a data-panel="resources" href="#">Resources</a></li>
			  <li><a data-panel="map" href="#">Map</a></li>
			  <li><a href="#"></a></li>
			</ul>
		</div>
		<div id="resources" class="panel">
			<table cellpadding="0" cellspacing="0" border="0" class="table" id="objectList"></table>
		</div>
		<div id="map" class="panel" style="display:none;">
			Map
		</div>
	</div>
{% endblock %}