{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		 <div class="breadcrumbs">
		 	 Account &nbsp;>&nbsp; <a href="/account">{{ person.email }}</a>
		 </div>
	</div>
	 {%if 'no_creds'  in user_cred %}
    <p class="command"><a href="#" style="color:red" data-toggle="modal" data-target="#myModal">NO CREDENTIALS</a> are delegated to the portal!</p>
{%endif%}

</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs nav-section">
			<li class="active"><a href="#profile">User Profile</a></li>
			<li><a href="#account">Account</a></li>
			<li><a href="#access">Testbed Access</a></li>
		</ul>
    </div>
</div>
<div class="tab-content">
	<div class="tab-pane active row" id="profile">
		
	  	<div class="col-md-12">

			<form id="editForm" method="post" action="account_process" enctype="multipart/form-data">
			  	{% csrf_token %}
			  		<table class="profile">          
			    		<tr>
			      			<td colspan="2">
								<div><h3>Platform: Myslice</h3></div>
			      			</td>
			    		</tr>
			    		<tr>
			      			<td class="key">Email</td>
			      			<td class="value">
								<span id="emailval" class="value" >{{ person.email }}</span>
								<button class="btn btn-default" type="button" id="edit_email" onclick="editAlert();"  title="To change your affiliation please contact the administrator">
		    						<span class="glyphicon glyphicon-question-sign"></span> Edit
								</button>
							</td>
			      		</tr>
			      		<tr class="odd">
							<td class="key">Password</td>
							<td class="value"> 
				  				<button class="btn btn-default btn-xs" type="button" title="Password" name="edit_pass" id="edit_pass">
									<span class="glyphicon glyphicon-edit"></span> Edit
								</button>
				  				<span id="passval"class="value">******** </span>
				  				<span class="hide_this" id="span_pass">
				    				<button type="button" class="btn btn-default btn-xs" title="Cancel" id="cancel_pass_change"> Cancel </button>
				    				<div style='display:none;' id="pass_form">
				    				<input type='hidden'  value='' /></div>
				    				<table id="edit_password">
				      					<tr>
											<td>Enter password: </td>
											<td class="field"> <input type="password" name="password" id="password" /> </td>
				      						</tr>
				      						<tr>
											<td>Confirm password: </td>
											<td class="field"> 
					  							<input type="password" name="confirmpassword" id="confirmpassword" /> 
					  							<input type="submit" class="btn btn-default btn-xs" name="submit_pass" value="Save"/> 
											</td>
				      					</tr>
				    				</table>
				  				</span>	
							</td>
			      		</tr>
			      		<tr class="even">
							<td class="key">Full Name</td>
							<td class="value">
				  				<span id="nameval" class="value" >{{ fullname }} </span>
				  				<span class="hide_this" id="span_name">
				    				<button type="button" class="btn btn-default btn-xs" title="Cancel" id="cancel_name_change"> Cancel </button> 
				    				<div style='display:none;'><input type='hidden'  name='nameform'  /></div>
				    				<input id="fname" type="text" name="fname" class="required"  maxlength="200" value="{{firstname}}" />
				    				<input id="lname" type="text" name="lname" class="required"  maxlength="200" value="{{lastname}}" />
				    				<input type="submit" class="btn btn-default btn-xs" name="submit_name" value="Save"/>
				  				</span>
				  				<button class="btn btn-default btn-xs" type="button"title="Full Name" id="edit_name">
									<span class="glyphicon glyphicon-edit"></span> Edit
								</button>
							</td>
			      		</tr>
			      		<tr class="odd">
							<td class="key">Authority</td>
							<td class="value">
				  				<span id="affval" class="value">{{ authority }}</span>
								 <button class="btn btn-default btn-xs" type="button" id="edit_auth" onclick="editAlert()"  title="To change your authority please contact the administrator">
		     						<span class="glyphicon glyphicon-question-sign"></span> Edit
								 </button>
				  			</td>
						</tr>
						{%if 'Enabled'  in user_status %}
						<tr class="even">
				  			<td class="key">Generate Keys</td>
				  			<td>
								<input type="submit" name="generate" class="btn btn-primary" value="Generate a new Key Pair" id="generate_keypair" 
									   onclick="return confirm('Are you sure? If you do so, your current credentials will be overwritten.');" 
									   title="It will generate a new key Pair and your current credentials will be overwritten."/>
			      			</td> 
			    		</tr>
			    		<tr class="odd">
			      			<td class="key">Public Key</td>
			      			<td class="value">
								<span id="keyval" class="value">******** </span>
								<span class="hide_this" id="span_upload">
				  					<button type="button" class="btn btn-default" title="Cancel" id="cancel_upload"> Cancel </button>
				  					<div style='display:none;'>
				  						<input type='hidden'  name='upload'  /></div>
				  						<input type="file" name="pubkey" class="required" id="pubkey"/>  
				  						<input class="btn btn-default btn-xs" name="upload_key" id="upload_key"  type="submit" title="Upload your public key" value="Upload"
										   onclick="return confirm('Are you sure? It will overwrite your current credentials and you have delegate it manually.');"/>
								</span>
								<div style='display:none;'> <input type='hidden'  name='dload'  /> </div> 
								<button type="submit" name="dl_pubkey" class="btn btn-default btn-xs" title="Download your public key" id="dl_file">
									<span class="glyphicon glyphicon-download"></span> Download
								</button>
								<button class="btn btn-default btn-xs" id="upload_file" type="button" title="Upload a public key">
									<span class="glyphicon glyphicon-upload"></span> Upload
								</button>       
			      			</td>
			    		</tr>
			    		<tr class="even" id="pkey_row">
						 {%if 'N/A' not in user_private_key%}
			      			<td class="key">Private Key </td> <!-- Hide if priv_key doesn't exist in myslice platform   -->
			      			<td class="value">********<a href="#"></a>
			      				<button type="submit" name="dl_pkey" class="btn btn-default" title="Download your privaye key" id="dl_pkey">
									<span class="glyphicon glyphicon-download"></span> Download	
								</button>
			      				<input class="btn btn-danger btn-xs" id="delete" name="delete" type="submit"  value="Delete" title="Delete your private key"
										onclick="return confirm('Are you sure? If you do so, you have to delegate your credentials manually.');"/> 
			    			</td>
						  {%else%}
							<td class="key">Private Key </td> <!-- Hide if priv_key doesn't exist in myslice platform   -->
		 					<td class="value">********<a href="#"></a>
		     					<button type="submit" name="dl_pkey" class="btn btn-default disabled" title="Download your privaye key" id="dl_pkey">
		        					<span class="glyphicon glyphicon-download"></span> Download 
		     					</button>
		     					<input class="btn btn-danger btn-xs disabled" id="delete" name="delete" type="submit" title="Delete your private key" value="Delete" />
							</td>
						 {%endif%}		
			  			</tr>
			  			<tr class="even">
			    			<td colspan="2">
								<p class="command">
									<a href="#" style="color:green" data-toggle="modal" data-target="#tradeoffmodal">Automatic vs. Manual delegation of credentials:</a>
									Trade-off between ease-of-use & security</p>
								</p>
			    			</td>
			  			</tr>
						{%endif%}
					</table>
			
		</div>
	</div>

	<div class="tab-pane row" id="account">
	  	<div class="col-md-12">
	
		<h3>Principal Account <small>Account used for delegating credentials</small></h3>
		<table class="table"> 
			<tr class="odd"> 
    			<th>Platform</th> 
        		<th>Account Type</th>
				<th>Account Delegation</th>
        		<th>User hrn</th>
				<th>User Status</th>
        		<!--<th>Pub Key</th> -->
    		</tr>   
			{% for row in principal_acc %}         
   			<tr class="border_bottom">
    			<td class="odd"> {{ row.platform_name }} </td>
        		<td class="odd"> {{ row.account_type }} </td>
				<td class="odd"> {{ row.delegation_type }} </td>
       			<td class="odd"> {{ row.usr_hrn }}  </td>
				<td class="odd"> {{ row.user_status }}  </td>
        	<!--	<td class="even"> {{ row.usr_pubkey }} </td> -->
    		</tr> 
			{%endfor%}               
		</table>
	
		</div>
	

	{%if 'Enabled'  in user_status %}
	  	<div class="col-md-12">
		<h3>Credentials <small>Delegated to Principal Account</small></h3>
		        <table class="table">
					<caption><b>Delegated User Credential</b></caption> 
		            <tr class="odd"> 
		                <th>Expiration Date</th>
						<th>Download</th>
		            </tr>
					{% for row in my_users %}         
					<tr class="border_bottom">
		    			<td class="odd"> {{ row.cred_exp }} </td>
						<td class="odd">
							<button class="btn btn-default btn-xs" name= "dl_user_cred" type="submit" title="Download User Credential">
								<span class="glyphicon glyphicon-download"></span> Credential
							</button>
							<button class="btn btn-default btn-xs" name= "dl_user_cert" type="submit" title="Download User Certificate">
								<span class="glyphicon glyphicon-download"></span> Certificate
							</button>
                             <button class="btn btn-default btn-xs" name= "dl_user_p12" type="submit" title="Download User PKCS12">
                                 <span class="glyphicon glyphicon-download"></span> PKCS p12
                             </button>
						</td>
					</tr>
					{%endfor%}
				 </table>
				<p></p>
				<table class="mytable table table-bordered table-hover">
					<caption><b>Delegated Slice Credentials</b></caption>  
		     		<tr class="odd"> 
						<th>Slice Name</th> 
		         		<th>Expiration Date</th>
						<th>Download</th>
		     		</tr>
					{% for row in my_slices %}     
		     		<tr class="border_bottom">
		         		<td class="odd"> {{ row.slice_name }} </td>
						<td class="odd"> {{ row.cred_exp }} </td>
						<td class="odd"> 
							<button class="btn btn-default btn-xs" name= "dl_{{row.slice_name}}" type="submit" title="Download Slice Credentials">
								<span class="glyphicon glyphicon-download"></span> Download
							</button> 
						</td>
		     		</tr>
		     		{%endfor%}
		  		</table>
				<p></p>
				<table class="mytable table table-bordered table-hover">
		   			<caption><b>Delegated Authority Credentials</b></caption>
		   			<tr class="odd"> 
		       			<th>Authority Name</th> 
		       			<th>Expiration Date</th>
						<th>Download</th>
		   			</tr>
		   			{% for row in my_auths %}
		   			<tr class="border_bottom">
		       			<td class="odd"> {{ row.auth_name }} </td>
		       			<td class="odd"> {{ row.cred_exp }} </td>
						<td class="odd">
							<button class="btn btn-default btn-xs" name= "dl_{{row.auth_name}}" type="submit" title="Download Authority Credentials">
								<span class="glyphicon glyphicon-download"></span> Download
							</button>
						</td>
		   			</tr>
		   			{%endfor%}
				</table>
				<p></p>
				 {%if '' not in my_users%}	
				<p><button class="btn btn-danger btn-lg btn-block"   name= "clear_cred" type="submit" title="Clear All Credentials">Clear Credentials</button></p>
				{%else%}
				<p><button class="btn btn-danger btn-lg btn-block disabled"   name= "clear_cred" type="submit" title="Clear All Credentials">Clear Credentials</button></p>
				{%endif%}
		</div>
	</div>
<!-- Modal- No credentials -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">No credentials are delegated to the portal</h4>
                    </div>
					<div class="modal-body" style="text-align:justify;">
					<p>You are getting this message for any of the following reasons:</p>
					<ul>
						<li>If your account is still pending for validation</li>
						<li>If you press the "Clear Credentials" button</li>
						<li>If you "Generate a new key pair"</li>
						<li>If a new slice is added to your account</li>
					</ul>
					<p>Unless your account has not yet been validated, it is sufficient to refresh the page or go back to the home page. 
						The portal will then regenerate your credentials. In some cases it may take more time than usual. If nothing works, 
						then please logout and login back into to the portal.
					</p>
					<h3>Manual delegation of credentials</h3>
						<p>
							You have selected upon sign-up to upload your public key. As you have uploaded your own public key, 
							the portal can no longer generate your credentials automatically. In order to have your credentials 
							delegated to the portal, please follow these instructions:
						</p>
						<ul>
							<li>Your account must first be validated by the manager of your organization.</li>
							<li>In order for the portal to contact testbeds on your behalf, so as to list and reserve resources, you will need to
								<a href="/portal/manual_delegation" target="_blank">delegate your credentials to the portal.</a></li>
						</ul>
					</p>
					<h3>Contact support</h3>
					<p>If you don't have the above mentioned cases and still have this message, please  <a href="/contact/" target="_blank">contact us</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
</div>


<!-- Modal- Trade-off Message  -->
<div class="modal fade" id="tradeoffmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">
								Automatic vs. Manual delegation of credentials
							</h4>
                    </div>
					<div class="modal-body" style="text-align:justify;">
					<h3>Automatic delegation of credentials</h3>
						<p>Don't delete private key, ease-of-use option:</p>
						<ul>
							<li>
								This means that you will keep your private key in the portal and it will automatically delegate your credentials on your behalf.
							</li>
							<li>
								This option does not provide as high of a level of security; however, your private key will still only be used in the portal and 
								will be available to you, the OneLab admins, and your organization's manager.
							</li>
						</ul>
					<h3>Manual delegation of credentials</h3>
						<p>Download & Delete private key, higher security option:</p>
						<ul>
							<li>If you delete your private key, you will have more security but the portal will no longer be able to delegate credentials 
								on your behalf, and you will have to manually
								<a href="/portal/manual_delegation" target="_blank">delegate your credentials to the portal.</a>
							</li>
						</ul>
					<h3>Contact support</h3>
					<p>For more information, please  <a href="/contact/" target="_blank">contact us</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
</div>



	<div class="tab-pane row" id="access">
	  	<div class="col-md-12">
	
		<h3>Testbed Access <small>Reference Accounts in the following testbeds</small></h3>
        <table class="mytable table table-bordered table-hover"> 
            <tr class="odd"> 
                <th>Platform</th> 
                <th>Account Type</th>
				<th>Reference to</th>
				<th>Remove Account</th>
            </tr>   
            {% for row in ref_acc %}         
            <tr class="border_bottom">
                <td class="odd"> {{ row.platform_name }} </td>
                <td class="odd"> {{ row.account_type }} </td>
				<td class="odd"> {{ row.account_reference }} </td>
				<td class="odd">
    				<button class="btn btn-danger" name="delete_{{row.platform_name}}" type="submit" title="Delete account from this platform">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
				</td>
            </tr> 
            {%endfor%}               
        </table>		
		
		
		<h3>Add reference account to the following testbeds</h3>
        <table class="mytable table table-bordered table-hover"> 
            <tr class="odd"> 
                <th>Platforms</th> 
                <th>Add Account</th>
            </tr>   
            {% for platform in platform_list %}         
            <tr class="border_bottom">
                <td class="odd"> {{ platform.platform_no_access }} </td>
                <td class="odd">
					<button class="btn btn-success btn-sm" name= "add_{{platform.platform_no_access}}" type="submit" title="Add account to this platform">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
            </tr> 
            {%endfor%}               
        </table>
	</div>
{%endif%} 
</div>
</form>
</div>

<script>
    $(document).ready(function() {
    	$('.nav-tabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
			id = $(this).attr('href').substr(1);
		
		});
		
        $('button#createslice').click(function() {
            window.location="/portal/slice_request/";
        });
    });
</script>

{% endblock %}
