{% extends "layout_base.html" %}
{% load portal_filters %}

{% block content %}
<!-- <div class="row">
{% widget '_widget-news.html' %}
</div> -->
{% if username %}
<div class="container dashboard">
	<div class="row">
		{%if 'is_pi'  in pi %}
		<div class="col-md-3">
			<h3>
				EXPERIMENT
			</h3>
			<div>
				<a href="#"><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></a>
			</div>
			<div>
				<button id="slicerequestbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Request Slice</button>
			</div>
			<div>
				<p><strong>Your slices </strong>
					<span title="A slice is a set of testbed resources on which you can conduct an experiment. 
					Either ask your colleagues to give you access to an existing slice or request a new slice by clicking 'Request Slice'. 
					However, on the OneLab portal, you will only see slices that you have created through OneLab. If you have created slices elsewhere, 
					such as on the PlanetLab Europe portal, those slices will not appear here."
					class="glyphicon glyphicon-info-sign">
				</span>

  				</p>
			</div>
			<div>	
				<div id="home-slice-list"><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading Slices" /></div>
			</div>
		</div>
		<div class="col-md-3">
			<h3>MANAGEMENT</h3>
			<div>
				<a href="/portal/institution"><img src="{{ STATIC_URL }}img/icon_authority_color.png" alt="" /></a>
			</div>
			<div>
				<button id="validaterequestbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Validate Requests</button>
			</div>
		</div>
		<div class="col-md-3">
			<h3>
				SUPPORT
			</h3>
			<div>
				<a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></a>
			</div>
			<div>
				<button id="ticketbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Contact</button>
			</div>
		</div>
		
		<div class="col-md-3">
			<h3>
				ACCOUNT
			</h3>
			<div>
				<a href="/portal/account/"><img src="{{ STATIC_URL }}img/icon_user_color.png" alt="" /></a>
			</div>
			<div>
				<button id="logoutbtn" type="button" class="btn btn-default" data-username="{{ username }}"><span class="glyphicon glyphicon-off"></span> Logout</button>
			</div>
			<div>
				{% if person.last_name %}
					{{person.first_name}} {{person.last_name}}<br />
				{% endif %}
    			<span class="label">Username:</span> <a href='/portal/account/' title="Click here to see and edit your account details.">{{person.email}}</a>
	    	</div>
		</div>
	</div>
	{%else%}
	<div class="row">
		<div class="col-md-4">
			<h3>
				EXPERIMENT
			</h3>
			<div>
				<a href="#"><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></a>
			</div>
			<div>
				<button id="slicerequestbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Request Slice</button>
			</div>
			<div>
				<p><strong>Your slices </strong>
				<span title="A slice is a set of testbed resources on which you can conduct an experiment. 
					Either ask your colleagues to give you access to an existing slice or request a new slice by clicking 'Request Slice'. 
					However, on the OneLab portal, you will only see slices that you have created through OneLab. If you have created slices elsewhere, 
					such as on the PlanetLab Europe portal, those slices will not appear here."
					class="glyphicon glyphicon-info-sign">
				</span>
				</p>
			</div>
			<div>	
				<div id="home-slice-list"><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading Slices" /></div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>
				SUPPORT
			</h3>
			<div>
				<a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></a>
			</div>
			<div>
				<button id="ticketbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Contact</button>
			</div>
		</div>
		
		<div class="col-md-4">
			<h3>
				ACCOUNT
			</h3>
			<div>
				<a href="/portal/account/"><img src="{{ STATIC_URL }}img/icon_user_color.png" alt="" /></a>
			</div>
			<div>
				<button id="logoutbtn" type="button" class="btn btn-default" data-username="{{ username }}"><span class="glyphicon glyphicon-off"></span> Logout</button>
			</div>
			<div>
				{% if person.last_name %}
					{{person.first_name}} {{person.last_name}}<br />
				{% endif %}
    			<span class="label">Username:</span> <a href='/portal/account/' title="Click here to see and edit your account details.">{{person.email}}</a>
	    	</div>
		</div>
	</div>
	{%endif%}

</div>
{% else %}
<div class="container-fluid home">
	<div class="">
		<div class="col-sm-2"></div>
		<div class="col-sm-4 slogan">
			<h2>
				Your Easy Access to Computer Networking Testbeds:
			</h2>
			<h3>
				A wide variety of world class testbeds available through your one account
			</h3>
		</div>
		<div class="col-sm-5 col-sm-offset-1">
   			<div class="row">
				{% widget '_widget-login-user.html' %}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function() {
		$('a.home-tab').click(function() {
			$('ul.nav-tabs li').removeClass('active');
			$(this).parent().addClass('active');
			$('div.home-panel').hide();
			$('div#'+$(this).data('panel')).show();
		});
		$('button#validaterequestbtn').click(function() {
			window.location="/portal/institution#requests";
		});
		$('button#ticketbtn').click(function() {
			window.location="/portal/contact/";
		});
		$('button#signupbtn').click(function() {
			window.location="/portal/register/";
		});
		$('button#slicerequestbtn').click(function() {
			window.location="/portal/slice_request/";
		});
/*-------
List of slices has been moved in 
portal/templates/base.html
This should go into session
--------*/
});
</script>
{% widget "_widget-monitor.html" %}
{% endblock %}