{% extends "layout_wide.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% include theme|add:"_widget-slice-sections.html" %}
	  
<div class="container-fluid tab-content container-slice">
  <div class="tab-pane active row" id="info">...</div>
  <div class="tab-pane row" id="testbeds">...</div>
  <div class="tab-pane row" id="resources">...</div>
  <div class="tab-pane row" id="users">...</div>
  <!-- <div class="tab-pane row" id="statistics">...</div> -->
  <!-- <div class="tab-pane row" id="measurements">...</div> -->
  <div class="tab-pane row" id="experiment">...</div>
  <!-- <div class="tab-pane row" id="studentslabs">...</div> -->
</div> 	
{% endblock %}
