{# This is required by insert_above #}{% insert_handler %}<!DOCTYPE html>
<html lang="en"><head>
<title>OneLab - {{ section }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/img/myslice-icon.png">
{# This is where insert_str will end up #}{% media_container prelude %}
{% include 'messages-transient-header.html' %}
<script type="text/javascript"> {# raw js code - use {% insert prelude_js %} ... {% endinsert %} #} {% container prelude_js %}</script>
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.datatables.js"></script>
<script src="{{ STATIC_URL }}js/myslice.js"></script>
<script src="{{ STATIC_URL }}js/myslice-ui.js"></script>
<style type="text/css">{# In case we need to add raw css code #}{% container prelude_css %}</style>
{{ header_prelude }}
{% block head %} {% endblock head %}
{# let's add these ones no matter what #}
{% insert_str prelude "js/jquery.min.js" %}
{% insert_str prelude "js/jquery.html5storage.min.js" %}
{% insert_str prelude "js/messages-runtime.js" %}
{% insert_str prelude "js/class.js" %}
{% insert_str prelude "js/plugin-helper.js" %}
{% insert_str prelude "js/mustache.js" %}
{% insert_str prelude "js/plugin.js" %}
{% insert_str prelude "js/manifold.js" %}
{% insert_str prelude "css/manifold.css" %}
{% insert_str prelude "css/plugin.css" %}
{% insert_str prelude "js/bootstrap.js" %}
{% insert_str prelude "css/bootstrap.css" %}
{% insert_str prelude "css/topmenu.css" %}
{% insert_str prelude "js/logout.js" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ theme }}.css">
</head>
<body>
{% block container %}
  	{% block topmenu %}
  	{% include theme|add:"_widget-topmenu.html" %}
  	{% endblock topmenu %}
	{% include 'messages-transient.html' %}
	{% block base_content %}
	{% endblock %}
{% endblock container %}
</body>
</html>
