<ul class="nav nav-tabs nav-sliceview">
	<li class="active"><a href="/slice/{{ slice }}/"><img src="{{ STATIC_URL }}icons/slices-xs.png" alt="About MySlice" /> {{ slice }}</a></li>
	<li><a href="/testbeds/{{ slice }}/">Testbeds</a></li>
	<li><a href="/resources/{{ slice }}/">Resources</a></li>
	<li><a href="/users/{{ slice }}/">Users</a></li>
	<li><a href="">Statistics</a></li>
	<li><a href="">Measurements</a></li>
	<li><a href="/portal/experiment">Experiment</a></li>
</ul>
<script>
	$(document).ready(function() {
		
	});
</script>
