{% extends "layout_wide.html" %}

{% block content %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<div class="row">
		  	{% include theme|add:"_widget-slice-sections.html" %}
		</div>
    </div>
    
	<div class="col-md-2"></div>
	<div class="col-md-10">
        <br>
        <br>
        <table>
            <tr>
                <td><b>Description:</b></td>
                <td>this slice is dedicated to debug the myslice software...</td>
            </tr>
            <tr>
                <td><b>url:</b></td>
                <td><a href="http://myslice.info" target="_blank">http://myslice.info</a></td>
            </tr>
            <tr>
                <td><b>users:</b></td>
                <td>3</td>
            </tr>
            <tr>
                <td><b>resources:</b></td>
                <td>8</td>
            </tr>
            <tr>
                <td><b>created:</b></td>
                <td>2012-06-21 10:00</td>
            </tr>
            <tr>
                <td><b>last update:</b></td>
                <td>2014-02-25 14:00</td>
            </tr>
            <tr>
                <td><b>expires:</b></td>
                <td>2014-04-01 12:00</td>
            </tr>
        </table>
  	</div>
    
{% endblock %}
