{% extends "layout_wide.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<h1><img src="{{ STATIC_URL }}icons/support-xs.png" alt="About" />About</h1>
        </div>
    </div>
 
	<div class="row"  style="text-align:justify;">
        <div class="col-md-12">
			<p>
				The OneLab Portal is the central site that allows users access to all OneLab testbeds. In order to gain access to the portal, 
				you must first  <a href="/register">register</a> to the portal. After you submit your sign-up form, you will have immediate but 
				limited access to the portal. The OneLab support team, which monitors portal access, will then confirm your new user sign-up request 
				and notify the manager of your organization. Once the manager validates your request you will have full access to all testbed resources.
			</p>
			<p>
				OneLab provides users with access to <a href="http://planet-lab.eu/" target="_blank">PlanetLab Europe</a>, 
				<a href="http://nitlab.inf.uth.gr/NITlab/index.php/testbed" target="_blank">NITOS</a>, 
				and <a href="https://www.iot-lab.info/" target="_blank">IoT-LAB</a> testbeds, each of which has its own characteristics that allow users 
				to choose according to the needs of their experiments. PlanetLab Europe is an internet-overlaid platform providing 300 servers for over 
				150 European locations, or one thousand total servers at 500 world-wide locations. NITOS wireless mobility testbeds allow users to customize 
				environmental components so as to test their experiments in real-world settings; while IoT-LAB platforms offer users over 2700 fixed or mobile 
				wireless sensor nodes in six different locations across France.
			</p>
			<p>
				To learn more about OneLab consortium, please visit:  <a href="https://www.onelab.eu" target="_blank">onelab.eu</a> 			
			</p>
			<p>
				If you have any questions regarding how to use the portal, please visit: <a href="/support">OneLab support</a>
			</p>
			<p>
				The OneLab portal is a community effort. To get more information about the portal team, please visit our member profile page at: 
				<a href="http://myslice.info/community" target="_blank">myslice.info/community</a>
			</p>
		</div>
	</div>
	<div class="row"  style="text-align:justify;">
		<div class="col-md-12">
			<br />
 			<h3>The MySlice Software: A ready-made and easily customizable user interface for your testbed</h3>
				<p>
					MySlice is an ambitious project aimed at supporting users and assisting them throughout the lifecycle of their experiments. 
					The MySlice software includes a web front-end as well as a backend called Manifold. Manifold is a component allowing the integration 
					of distributed and heterogeneous data sources, such as measurement platforms or data repositories. 
				</p>
				<p>
					Experiments can be deployed on a variety of testbeds spanning across different administrative domains and networking technologies. 
					The basic principle of MySlice is to bring together available resources with useful information (characteristics, performance, network measurements).

				</p>
				<p>
					The MySlice initiative started in January 2011 by offering annotation services for the first federated experimental resources. Today, MySlice has 
					taken a big step toward becoming a stand-alone web framework, which will present to its users all available resources from testbeds across the world. 
				</p>
				<p>
					The testbeds are interconnected through the Slice-based Facility Architecture (SFA) and annotated by the TopHat measurement system.
				</p>
				<p>
					Our framework is built with standard programming tools (python and javascript for the front-end and python for the back-end) and has a modular 
					structure based on the concept of plugins, used for implementing different core functionalities (query editing, data display, and resource allocation).
				</p>
				<p>
					The goal of MySlice is to enable developers with expertise in different testbed technologies and experimental practices to create, develop, or edit new 
					testbed features. These features allow users to choose from a wide range of testbed characteristics according to their own experiments' requirements. 
					Opening the development of web-based user tools for experimentation and the sharing of information will allow for the achievement of the MySlice objective.
				</p>
		</div>
		<div class="col-md-12">
			<br />
			<h3>Portal Components</h3>
				<h4>Myslice</h4>
				<ul><li><b>Web Frontend</b>
					<p> More Info: <a href="http://myslice.info/" target="_blank">http://myslice.info/</a></p>
					<p> Code: <a href="http://git.onelab.eu/?p=myslice.git;a=summary" target="_blank">Git Repository</a> (read only)</p> 
					<p> 
						If you need write access to the git repository you mustfirst to send your public key to <a href="mailto:support@onelab.eu">support@onelab.eu</a>.
					</p>
					</li>

				<li><b>Backend (Manifold)</b>
					<p> Documentation: <a href="http://trac.myslice.info/" target="_blank">http://trac.myslice.info/</a></p>
					<p> Code: <a href="https://git.top-hat.info/?p=tophat.git;a=shortlog;h=refs/heads/devel" target="_blank">Git Repository</a> (read only)</p>	
				</li></ul>
				<h4>OneLab Registry</h4>
					<p>The OneLab registry is a SFA registry is a specific installation mode of the SFAWrapper (Registry Only mode).</p>
					<p> More Info: <a href="http://svn.planet-lab.org/wiki/SfaDeveloperRegistryTutorial#RunninginRegistry-Onlymode" target="_blank">SFA Registry</a></p>
     	</div>
   </div>
</div>
{% endblock %}
