#body {
/*    padding-top: 60px; */
}
#navigation {
    position: fixed; 
    display: block;
    margin:0;
    top: 0px;
    left: 0px;
    right: 0px; 
    height: 60px;
    background-color: #fc9;
}
ul#menu { display: block; }
ul#menu>li { display: block; 
	     float: left;
	     padding: 5px;
}
/*p#patch {
    padding: 10px;
    text-align: center;
}*/

#inside {
/*    position: fixed; */
    margin-top: 60px;
    top: 60px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
#content, #sidebar {
    display: table-cell;
    position: static;
    padding: 10px;
}
#content {
    width: 100%;
}
#sidebar {
    width: 200px;
}
#sample-tabs {
    border-style: solid; 
    padding: 20px;
}
