#sample-tabs {
    border-style: solid; 
    padding: 20px;
}

#scrollDiv1 { 
    background-color: #fbb;
}
#scrollDiv2 { 
    background-color: #bbb;
}
#scrollDiv3 { 
    background-color: #bbf;
}
#scrollDiv4 { 
    background-color: #bfb;
}

