{% insert_str prelude "js/bootstrap.js" %}
{% insert_str prelude "css/bootstrap.css" %}
{% insert_str prelude "css/topmenu.css" %}
{% insert_str prelude "js/logout.js" %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-myslice-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="{{ STATIC_URL }}img/onelab-logo.png" height="30" alt="OneLab logo" />
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-myslice-collapse topmenu">
    <ul class="nav navbar-nav">
	{% for d in topmenu_items %} 
	{% if d.dropdown %}
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="{{ d.href }}"> {{ d.label }}<b class="caret"></b></a>
	  <ul class="dropdown-menu">
	  {% for dd in d.contents %}
	  {% if dd.is_active %} <li class='active'> {% else %} <li class='other'> {% endif %}
	  <a class="dropdown-toggle" href="{{ dd.href }}"> {{ dd.label }} </a> </li>
	  {% endfor %}
	</ul>
        </li>
        {% else %} 
	{% if d.is_active %} <li class='active'> {% else %} <li class='other'> {% endif %}
	<a href="{{ d.href }}"> {{ d.label }} </a> </li>
	{% endif %}
	{% endfor %}
    </ul> {# logout.js will attach a click function on that button, which then retrieves the 'username' attribute #}
    <ul class="nav navbar-nav pull-right logged-in">
      <li> {% if username %}
      Logged in as {{ username }}
      <button id='logout' class='btn btn-danger logged-in' username='{{ username }}'>Logout</button> {% else %}
      Not logged in{% endif %}
      </li>
    </ul>
  </div>
</nav>
