<div class="footer">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 copy">
            Copyright © UPMC Sorbonne Universités, on behalf of the OneLab consortium
        </div>
        <div id="portal_version" class="col-md-2 copy">
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $.post("/portal_version/", function( data ) {
            console.log(data);
            $("#portal_version").html(data);
        });
    });
</script>
