{% if section == "resources" %}
<ul class="nav nav-tabs nav-section">
	<li><a href="/slice/{{ slice }}#info"><img src="{{ STATIC_URL }}icons/slices-xs.png" alt="About MySlice" /> {{ slice }}</a></li>
	<li><a href="/slice/{{ slice }}#testbeds">Testbeds</a></li>
	<li class="active"><a class="link" href="/resources/{{ slice }}">Resources</a></li>
	<li><a href="/slice/{{ slice }}#users">Users</a></li>
	<li><a href="/slice/{{ slice }}#experiment">Statistics</a></li>
	<li><a href="/slice/{{ slice }}#experiment">Measurements</a></li>
	<li><a href="/slice/{{ slice }}#experiment" data-toggle="tab">Experiment</a></li>
	<li><a href="/slice/{{ slice }}#sla">SLA</a></li>
</ul>
{% else %}
<ul class="nav nav-tabs nav-section">
	<li class="active"><a href="#info"><img src="{{ STATIC_URL }}icons/slices-xs.png" alt="About MySlice" /> {{ slice }}</a></li>
	<li class="testbeds"><a href="#testbeds">Testbeds</a></li>
	<li><a class="link" href="/resources/{{ slice }}">Resources</a></li>
	<li class="users"><a href="#users">Users</a></li>
	<li class="statistics"><a href="#experiment">Statistics</a></li>
	<li class="measurements"><a href="#experiment">Measurements</a></li>
	<li class="experiment"><a href="#experiment" data-toggle="tab">Experiment</a></li>
	<li class="sla"><a href="#sla" data-toggle="tab">SLA</a></li>
</ul>
<script>
$(document).ready(function() {
	$('.nav-tabs a').click(function (e) {
		if ($(this).hasClass('link')) return;
  		e.preventDefault();
  		$(this).tab('show');
    	var id = $(this).attr('href').substr(1);    	
    	$("#" + id).load('/' + id + '/{{ slice }}/');
	});
	$('div#info').load('/info/{{ slice }}/');
});
</script>
{% endif %}
