<!-- This widget is used to show a popup to users explaining why they don't have credentials delegated to the portal (accountview, homeview) -->
<!-- Modal- No credentials -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title" id="myModalLabel">No credentials are delegated to the portal</h4>
             </div>
	 		<div class="modal-body" style="text-align:justify;">
	 		<p>You are getting this message for any of the following reasons:</p>
	 		<ul>
	 			<li>If your account is still pending for validation</li>
	 			<li>If the server cache hasn't been cleared</li>
	 			<li>If you press the "Clear Credentials" button</li>
	 			<li>If you "Generate a new key pair"</li>
	 			<li>If a new slice is added to your account</li>
	 		</ul>
	 		<h3>Clear server cache</h3>
            <p>
            <button class="btn btn-default btn-primary" type="button" title="Clear server cache" name="clear_server_cache" id="clear_server_cache" style="float:left;">Clear server cache</button>
            <div id="clear_success" style="color:green; margin-left: 160px;">&nbsp;</div>
            <div id="clear_error" style="color:red; margin-left: 160px;">&nbsp;</div>
            </p>
	 		<p>Unless your account has not yet been validated, it is sufficient to refresh the page or go back to the home page. 
	 			The portal will then regenerate your credentials. In some cases it may take more time than usual. If nothing works, 
	 			then please logout and login back into to the portal.
	 		</p>
	 		<h3>Manual delegation of credentials</h3>
	 			<p>
	 				You have selected upon sign-up to upload your public key. As you have uploaded your own public key, 
	 				the portal can no longer generate your credentials automatically. In order to have your credentials 
	 				delegated to the portal, please follow these instructions:
	 			</p>
	 			<ul>
	 				<li>Your account must first be validated by the manager of your organization.</li>
	 				<li>In order for the portal to contact testbeds on your behalf, so as to list and reserve resources, you will need to
	 					<a href="/portal/manual_delegation" target="_blank" style="text-decoration:underline;font-weight:bold;">delegate your credentials.</a></li>
	 			</ul>
	 		</p>
	 		<h3>Contact support</h3>
	 		<p>If you don't have the above mentioned cases and still have this message, please  <a href="/contact/" target="_blank" style="text-decoration:underline;font-weight:bold;">contact us</a>.</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
</div>
<script>
$(document).ready(function() {
    $('button#clear_server_cache').click(function() {
        $('#clear_success').html('<img src="{{ STATIC_URL }}img/loading.gif" alt="Loading Services" />');
        $.post("/cache/clear/", function( data ) {
            console.log(data);
            if(data['ret']==1){
                $('#clear_success').html('Server cache cleared')
            }else{
                $('#clear_error').html('error:'+data['error'])
                $('#clear_success').html('');
            }
        });
    });
});
</script>

