{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/slices-xs.png" alt="About MySlice" /> About</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
 	<h3>A ready-made and easily customisable user interface for your testbed.</h3>

	<p>
		MySlice is an ambitious project aiming to support researchers throughout the lifecycle of experiments that can run on a variety 
		of testbeds spanning different administrative domains and networking technologies. Its basic principle is to bring together 
		available resources with useful information (characteristics, performance, network measurements).
	</p>
	<p>
	MySlice inititiave started in Janury 2011 by offering annotation services for the first ederated experimental resources. Today, 
	MySlice has taken a big step toward becoming a tand-alone web framework, which will present all available resources from testbeds 
	across the world, interconnected through the Slice-based Facility Architecture (SFA) and annotated by the TopHat measurement system.
	</p>
	<p>
	Our framework is built with standard programming tools (php and javascript for the front-end and python for the back-end) 
	and has a modular structure based on the concept of plugins for implementing different core functionalities (query editing, 
	data display, and resource allocation).
	</p>
	<p>
	The goal is to enable developers with expertise on different testbed technologies and different experimental 
	practices to work in parallel for optimizing the tools presented to the users allowing them for a wide range of choices 
	according to their own requirements. Opening in this way the development of web-based user tools for experimentation and 
	sharing effort and information can increase significantly the chances for the achievement of our challenging objective.
	</p>
	<p>
	You can access the code at git.myslice.info. If you need write access to the git repository you need first to send
	 your public key to <a href="mailto:support@myslice.info">support@myslice.info</a>. 
	</p>
	<p>
		Go to the <a href ="http://myslice.info">MySlice web site</a> or the <a href ="http://onelab.eu">OneLab public web site</a>
	</p>
	</div>
</div>

{% endblock %}
