{% extends "layout-unfold1.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/onelab.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/account_view.css" />
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.validate.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}/js/my_account.edit_profile.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/my_account.register.js"></script>
{% endblock %}

{% block unfold_main %}

<h2>MySlice  Account</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div id="middle" align="center">
	<div class="well">
		<form id="editForm"  method="POST" action="account_process" enctype="multipart/form-data">
	  	{% csrf_token %}
	  		<table class="profile">          
	    		<tr class="odd">
	      			<td colspan="2">
						<div id="info">Personal Details</div>
	      			</td>
	    		</tr>
	    		<tr class="even">
	      			<td class="key">Email</td>
	      			<td class="value">
						<span id="emailval" class="value" >{{ person.email }}</span>
						<img class="logo" src="{{STATIC_URL}}/img/ques_icon.png" onclick="emailAlert()"  title="To change your email please contact the administrator" 
							 style="height: 20px; width: 20px; position: absolute; left: 625px; left: 900px; margin-top: -9px;">
					</td>
	      		</tr>
	      		<tr class="odd">
					<td class="key">Password</td>
					<td class="value"> 
		  				<button class="edit" type="button" title="Password" name="edit_pass" id="edit_pass">Edit</button>
		  				<span id="passval"class="value">******** </span>
		  				<span class="hide_this" id="span_pass">
		    				<button type="button" class="cancel" title="Cancel" id="cancel_pass_change"> Cancel </button>
		    				<div style='display:none;' id="pass_form">
		    				<input type='hidden'  value='' /></div>
		    				<table id="edit_password">
		      					<tr>
									<td>Enter password: </td>
									<td class="field"> <input type="password" name="password" id="password" /> </td>
		      						</tr>
		      						<tr>
									<td>Confirm password: </td>
									<td class="field"> 
			  							<input type="password" name="confirmpassword" id="confirmpassword" /> 
			  							<input type="submit" name="submit_pass" value="Save"/> 
									</td>
		      					</tr>
		    				</table>
		  				</span>	
					</td>
	      		</tr>
	      		<tr class="even">
					<td class="key">Full Name</td>
					<td class="value">
		  				<span id="nameval" class="value" >{{ fullname }} </span>
		  				<span class="hide_this" id="span_name">
		    				<button type="button" class="cancel" title="Cancel" id="cancel_name_change"> Cancel </button> 
		    				<div style='display:none;'><input type='hidden'  name='nameform'  /></div>
		    				<input id="fname" type="text" name="fname" class="required"  maxlength="200" value="{{firstname}}" />
		    				<input id="lname" type="text" name="lname" class="required"  maxlength="200" value="{{lastname}}" />
		    				<input type="submit" name="submit_name" value="Save"/>
		  				</span>
		  				<button class="edit" type="button"title="Full Name" id="edit_name">Edit</button>
					</td>
	      		</tr>
	      		<tr class="odd">
					<td class="key">Authority</td>
					<td class="value">
		  				<span id="affval" class="value">{{ authority }}</span>
		  				<img class="logo" src="{{STATIC_URL}}/img/ques_icon.png" onclick="affAlert()"  title="To change your affiliation please contact the administrator" 
							 style="height: 20px; width: 20px; position: absolute; left: 625px; left: 900px; ">
		  			</td>
				</tr>
				<tr class="even">
		  			<td class="key">Generate Keys</td>
		  			<td> 
		  				<button id="generate_keypair" name="generate" type="submit" onclick="myFunction()" 
								title="Generate a new key pair. After it is generated, you will need to download your public and private keys again.">Generate a new Key Pair 
						</button>
	      			</td> 
	    		</tr>
	    		<tr class="odd">
	      			<td class="key">Public Key</td>
	      			<td class="value">
						<span id="keyval" class="value">******** </span>
						<span class="hide_this" id="span_upload">
		  					<button type="button" class="cancel" title="Cancel" id="cancel_upload"> Cancel </button>
		  					<div style='display:none;'>
		  					<input type='hidden'  name='upload'  /></div>
		  					<input type="file" name="pubkey" class="required" id="pubkey"/>  
		  					<button name="upload_key" id="upload_key"  type="submit" title="Delete your private key">Upload </button>
						</span>
						<div style='display:none;'> <input type='hidden'  name='dload'  /> </div> 
						<button type="submit" name="dl_pubkey" class="download" title="Download your public key" id="dl_file"> Download </button>
						<button id="upload_file" type="button" title="Upload a public key"> Upload </button>       
	      			</td>
	    		</tr>
	    		<tr class="even" id="pkey_row" display="none">
	      			<td class="key">Private Key </td>
	      			<td class="value">********<a href="#">
	      				<button type="submit" name="dl_pkey" class="download" title="Download your privaye key" id="dl_pkey"> Download </button>
	      				<button id="delete" name="delete" type="submit" title="Delete your private key">Delete </button>
	    			</td>
	  			</tr>
	  			<tr class="odd">
	    			<td colspan="2">
	      				<p class="message" id="pkey_del_msg"><b> Tradeoff:</b> Ease-of-use vs Security.<br>
							<b>Ease-of-use:</b> Automatic account delegation. Don't delete private key.<br>
							<b>Security:</b> Manual account delegation. Download & Delete private key.
						</p>
	    			</td>
	  			</tr>
			</table>
		</form>
	</div>
</div>

<h2>Platform Access</h2>
<div id="middle" align="center">
	<div class="well">
		<table class="mytable"> 
			<tr class="odd"> 
    			<th>Platform</th> 
        		<th>Account Type</th> 
        		<th>user_hrn</th>
        		<th>Pub Key</th>
    		</tr>   
			{% for row in data %}         
   			<tr class="border_bottom">
    			<td class="odd"> {{ row.platform_name }} </td>
        		<td class="even"> {{ row.account_type }} </td>
       			<td class="odd"> {{ row.usr_hrn }}  </td>
        		<td class="even"> {{ row.usr_pubkey }} </td>
    		</tr> 
			{%endfor%}               
		</table>
	</div>
</div>



{% endblock %}
