<img src="https://onelab.eu/static/images/onelab.png">
<br>
<p>We have received a user signup request for your email address at {{current_site}}</p>
<p>You have the following user details:</p>

Organization: {{organization}}<br>
First name: {{first_name}}<br>
Last name: {{last_name}}<br>
Email: {{email}}<br>

<p></p>
<p>
You may now <a href="{{current_site}}">log</a> in to the portal using your email address and the password that you provided, but your access will be limited. To gain full access, two steps are required:
</p>

<ul style="list-style-type:decimal;">
<li>
You must confirm that you have indeed made this request by clicking on the following link: <br>
 	<a href={{validation_link}}>{{validation_link}}</a> 
	<ul><li>If you did not make this request, we apologise. You may disregard this email or you may advise us the error by replying to this email.</li></ul>
</li>
<li>
A manager from your organization must also validate your request. Upon confirmation of your signup request, we will send an email to the managers at your organization with a validation request.
</li>
</ul>
<p>
We look forward to welcoming you to OneLab. You will find answers to frequently asked questions <a href="{{current_site}}/support/">here</a>. 
Please don't hesitate to <a href="{{current_site}}/contact/">contact us</a> with any additional questions that you might have.
</p>
