<p>Dear OneLab user,</p>
<p></p>
<p>You have recently requested an addition of the following authority in the OneLab portal ({{portal_url}}):</p> 
<p></p>
<b>Name of organization:</b> {{site_name}}<br>
<b>Short name:</b> {{short_name}}<br>
<b>Url:</b> {{url}}<br>
<b>City:</b> {{city}}<br>
<b>Country:</b> {{country}}<br>
<p></p>
</p>After verifying your request, we regret to inform you that, we are unable to validate your request.</p>
<p>For any queries, contact us by replying to this email.</p>
<br>
<p>On behalf of the entire team, I wish you all the best.</p>
<br>
<p>Yours sincerely,</p>
<br>
<p>Timur Friedman</p>
<p>Executive Director</p>

