<img src="https://onelab.eu/templates/onelab2/images/logo.png">
<br>
<h1>NEW AUTHORITY REQUEST</h1>
<br>
<h2>{{site_name}}</h2>             
<b>Authority hrn    :</b> {{authority_hrn}}         
<b>Abreviated name  :</b> {{site_abbreviated_name}} 
<b>URL              :</b> {{site_url}}              
<b>latitude         :</b> {{site_latitude}}         
<b>longitude        :</b> {{site_longitude}}        
<b>Address          :</b> {{address_line1}}<br>        
                          {{address_line2}}<br>     
                          {{address_line3}}<br>         
<b>City             :</b> {{address_city}}          
<b>Postcode         :</b> {{address_postalcode}}    
<b>State            :</b> {{address_state}}         
<b>Country          :</b> {{address_country}}  

<br><br>

<h2>PI for this Authority</h2>     
<b>First Name   :</b> {{first_name}}
<b>Last Name    :</b> {{last_name}}
<b>Authority hrn:</b> {{authority_hrn}}
<b>Public key   :</b> {{public_key}}
<b>Email        :</b> {{email}}
<b>User Hrn     :</b> {{user_hrn}}
