{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}


<div class="wrapper" id="ticket-request">
<h1><img src="{{ STATIC_URL }}img/icon_support_small.png" alt="Open a Ticket" /> Onelab Support</h1>

<p>
	If you have any diffculties using the portal, please contact us by filling this form below.<br />
	You can also <a href="mailto:support@myslice.info">e-mail</a> us directly or consult to our <a href="http://trac.myslice.info/" >documentation</a>
</p>

<div>
  <form class="cmxform form-horizontal" id="commentForm" action="#" method="post" role="form">{% csrf_token %}
  <fieldset>
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.html_name }}" class="col-xs-3 control-label">{{ field.label }}</label>
      <div class="col-xs-6"> {{ field.errors }} {{ field }} <p class="form-hint">{{ field.help_text }}</p> </div>
    </div>
    {% endfor %}
    <div class="col-xs-5">
    </div>
    <button class="submit btn btn-default col-xs-2" type="submit">Create Ticket</button>
  </fieldset>
  </form>
</div>
{% endblock %}

