{% extends "layout-unfold1.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold1_main %}


<div style=" padding-top: 12px; background-color: orange; border: 1px solid #61210B; text-align: center;">
         <h3>Onelab Support</h3>
         <h3>If you have already registered then send an <a href="mailto:support@myslice.info"> e-mail </a>  or <a href="http://trac.myslice.info/" >visit us</a></h3>
</div>

<form action="#" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

