{% extends "layout-unfold1.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold1_main %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/register.css" />
<form class="cmxform" id="commentForm" action="#" method="post">{% csrf_token %}
<fieldset>
<div class="OneLabTitle" style="margin-bottom:20px;">
         <h2>Onelab Support</h2>
         <h4>If you have already registered then send an <a href="mailto:support@myslice.info"> e-mail </a>  or <a href="http://trac.myslice.info/" >visit us</a></h4>
</div>

{{ form.as_p }}
<p style="text-align: center;width: 80%;">
    <input type="submit" value="Submit" />
</p>
</fieldset>
</form>
{% endblock %}

