{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<h1>OneLab Portal Documentation<h1>

<h2>Portal Components</h2>
<h3>Myslice (Web Frontend)</h3>
<p>
	MySlice is an ambitious project aiming to support researchers throughout the 
	lifecycle of experiments that can run on a variety of testbeds spanning different 
	administrative domains and networking technologies. Its basic principle is to bring 
	together available <b>resources</b> with <b>useful information</b> (characteristics, performance, network measurements).
	</p>

<p> More Info: <a href="http://myslice.info/" target="_blank">http://myslice.info/</a></p>
<p> Code: <a href="http://git.onelab.eu/?p=myslice.git;a=summary" target="_blank">Git Repository</a> (read only)</p> 

<h3>Manifold (Portal backend)</h3>
Manifold is the backend that is running behind the portal.

<p> Documentation: <a href="http://trac.myslice.info/" target="_blank">http://trac.myslice.info/</a></p>
<p> Code: <a href="https://git.top-hat.info/?p=tophat.git;a=shortlog;h=refs/heads/devel" target="_blank">Git Repository</a> (read only)</p>	

<h3>OneLab Registry</h3>
<p>It's a SFA registry. SFA Registry is a specific installation mode of the SFAWrapper (Registry Only mode).</p>
<p> More Info: <a href="http://svn.planet-lab.org/wiki/SfaDeveloperRegistryTutorial#RunninginRegistry-Onlymode" target="_blank">SFA Registry</a></p>
<h2>FAQ<h2>
<h3>Users</h3>
<h3>Managers</h3>

{% endblock %}

