{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/support-xs.png" alt="OneLab Portal Documentation" /> OneLab Portal Documentation</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
<h2>Portal Components</h2>
<h3>Myslice (Web Frontend)</h3>
<p>
	MySlice is an ambitious project aiming to support researchers throughout the 
	lifecycle of experiments that can run on a variety of testbeds spanning different 
	administrative domains and networking technologies. Its basic principle is to bring 
	together available <b>resources</b> with <b>useful information</b> (characteristics, performance, network measurements).
	</p>

<p> More Info: <a href="http://myslice.info/" target="_blank">http://myslice.info/</a></p>
<p> Code: <a href="http://git.onelab.eu/?p=myslice.git;a=summary" target="_blank">Git Repository</a> (read only)</p> 

<h3>Manifold (Portal backend)</h3>
Manifold is the backend that is running behind the portal.

<p> Documentation: <a href="http://trac.myslice.info/" target="_blank">http://trac.myslice.info/</a></p>
<p> Code: <a href="https://git.top-hat.info/?p=tophat.git;a=shortlog;h=refs/heads/devel" target="_blank">Git Repository</a> (read only)</p>	

<h3>OneLab Registry</h3>
<p>It's a SFA registry. SFA Registry is a specific installation mode of the SFAWrapper (Registry Only mode).</p>
<p> More Info: <a href="http://svn.planet-lab.org/wiki/SfaDeveloperRegistryTutorial#RunninginRegistry-Onlymode" target="_blank">SFA Registry</a></p>
<h2>FAQ<h2>

<h3>Users</h3>
<ul>
<li><h5>Who is a User?</h5></li>
<p>A user is an experimenter who registers to the onelab portal and able to use all the facilites that the portal has to offer. However, a user does not
have the right to do any admin operation such as managing slices, users and resources.</p>


<li><h5>How do I register?</h5></li>
<p>In order to register you must go to the <a href="/portal/register">Registration</a> page. You have to choose your corresponding institution (authority). After registration you have to wait until the PI validates your account. However upon registration, you will be able login to the portal with a limited access. Do not try to re-register with the same email address.</p>

<li><h5>Why can't I register with my email?</h5></li>
<p>If you have already registered then you won't be able to register again with the same email address. However, if you have never registered and still you are not able to use your email then please 
<a href="/portal/contact">Contact Support</a> and mention the error message you have while trying to register.</p>

<li><h5>In registration, in My keys option, what should i choose?</h5></li>
<p>There are two choices.</p> 
	<p class="text-justify"><b>1. Generate Key Pairs:</b> This option is for users who have no knowledge about SFA and MySlice i.e., new users. We offer convenience to the new users in order to avoid addtional efforts to delegate keys manually. If you choose this option, the portal will automatically handle your credentials and you can use the portal as soon as the PI validates your account. However, you can delete your private key from the portal if you are concerned about privacy issues. In that case once your current credentials expire, you have to delegate your credentials manually using <a href="http://trac.myslice.info/wiki/InstallSfa" target="_blank">SFA</a>. As this needs lot of knowledge about SFA and Myslice, we highly recommend to the new users to keep both private and public keys in the portal in order to keep the process automatic. </p>
	<p class="text-justify"><b>2. Upload My Public Key:</b> This option is for users who have experience with MySlice and SFA. If you choose this option, once the PI validates your account, you have to delegate your credentials manually using <a href="http://trac.myslice.info/wiki/InstallSfa" target="_blank">SFA</a>. You have to repeat the same process everytime your credentials expire. Normally, credentials expire every one month. You can see the expiration date in your Account page. </p>

<li><h5>Who is responsible for validating my account?</h5></li>
<p>When you register, you choose an authority fromt he list of authoritie. For each authority there is a Principal Investigator (PI). PI of your selected authorites will verify your identity and if he finds that you are from his institution, he will validate your account otherwise he will reject your account.</p>

<li><h5>How long I have to wait for validation?</h5></li>
<p>It depends on the PI of your authority. In general, it should not take more than a week. If you are waiting more than usual, please <a href="/portal/contact">Contact Support</a> and explain your problem.</p>
<li><h5>I just registered. Why can't I see any slices and resources?</h5></li>
<p>Once you register, you can login to your account with limited access. It means that you can view your account details, modify your name and password. You can also view other pages. But you will not be able to see any slices as well as resources before your account validation. But you can <a href="/portal/slice_request/">Request Slice</a> before being validated. Therefore, the PI will validate your account as well as your requested slice. Once validated, you will be able to see your slice and if you click on your slice, you will be able to see resources in that slice and you can reserve nodes and start your experiment.</p>

<li><h5>How can I get access to a slice?</h5></li>
<p>If you are a completely new user, you have to <a href="/portal/slice_request/">Request Slice</a>. It is upto the PI of your authority to accept or reject your slice request. </br>On the other hand, if you are a new user to the portal but you already have an account in Onelab SFA registry and you have slices, you will be able to see all your slices once your account is validated by the PI.</p> 

<li><h5>I forgot my password, how to recover it?</h5></li>
<p>If you have an account in the portal but you forgot the password, you can always <a href="/portal/pass_reset/">Reset Password</a>.</p></ul>

<h3>Managers</h3>
<ul>
<li><h5>Who is a Manager?</h5></li>
<p>A manager is the Principal Investigator (PI) of the institution. Each PI has authority over his own institution. A PI can add, delete, validate users or 
slices that belongs to his institution.</p>
<li><h5>What is pending users/slices?</h5></li>
<li><h5>How to see the pending users/slices of my instituion?</h5></li>
<li><h5>How to validate/reject pending users/slices?</h5></li>
<li><h5>Can I see the pending users/slices of other institutions?</h5></li>
<li><h5>How can I manage the users that belong to my institution?</h5></li>
</ul>
</div>
</div>
{% endblock %}

