{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/support-xs.png" alt="OneLab Portal Documentation" /> OneLab Portal Documentation</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
<h2>Portal Components</h2>
<h3>Myslice (Web Frontend)</h3>
<p>
	MySlice is an ambitious project aiming to support researchers throughout the 
	lifecycle of experiments that can run on a variety of testbeds spanning different 
	administrative domains and networking technologies. Its basic principle is to bring 
	together available <b>resources</b> with <b>useful information</b> (characteristics, performance, network measurements).
	</p>

<p> More Info: <a href="http://myslice.info/" target="_blank">http://myslice.info/</a></p>
<p> Code: <a href="http://git.onelab.eu/?p=myslice.git;a=summary" target="_blank">Git Repository</a> (read only)</p> 

<h3>Manifold (Portal backend)</h3>
Manifold is the backend that is running behind the portal.

<p> Documentation: <a href="http://trac.myslice.info/" target="_blank">http://trac.myslice.info/</a></p>
<p> Code: <a href="https://git.top-hat.info/?p=tophat.git;a=shortlog;h=refs/heads/devel" target="_blank">Git Repository</a> (read only)</p>	

<h3>OneLab Registry</h3>
<p>It's a SFA registry. SFA Registry is a specific installation mode of the SFAWrapper (Registry Only mode).</p>
<p> More Info: <a href="http://svn.planet-lab.org/wiki/SfaDeveloperRegistryTutorial#RunninginRegistry-Onlymode" target="_blank">SFA Registry</a></p>
<h2>FAQ<h2>
<h3>Users</h3>
<h5>Who is a User?</h5>
<p>A user is an experimenter who registers to the onelab portal and able to use all the facilites that the portal has to offer. However, a user does not
have the right to do any admin operation such as managing slices, users and resources.</p>
<h5>How do I register?</h5>
<h5>Why can't I register with my email?</h5>
<h5>Who is responsible for validating my account?</h5>
<h5>How long I have to wait for validation?</h5>
<h5>I just registered. Why can't I see any slices and resources?</h5>
<h5>How can I get access to a slice?</h5>
<h5>I forgot my password, how to recover it?</h5>

<h3>Managers</h3>
<h5>Who is a Manager?</h5>
<p>A manager is the Principal Investigator (PI) of the institution. Each PI has authority over his own institution. A PI can add, delete, validate users or 
slices that belongs to his institution.</p>
<h5>What is pending users/slices?</h5>
<h5>How to see the pending users/slices of my instituion?</h5>
<h5>How to validate/reject pending users/slices?</h5>
<h5>Can I see the pending users/slices of other institutions?</h5>
<h5>How can I manage the users that belong to my institution?</h5>
</div>
</div>
{% endblock %}

