{% extends "layout-unfold1.html" %}

{% block unfold_main %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/registration.css" />
<div id="home-dashboard">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">USER</a></li>
	  <li><a href="#">MANAGER</a></li>
	</ul>
	<div id="user">
		<table>
			<tr>
				<td>ACCOUNT</td>
				<td>SLICES</td>
				<td>SUPPORT</td>
			</tr>
			<tr>
				<td><a href="/portal/account"><img src="{{ STATIC_URL }}img/icon_user_color.png" alt="" /></a></td>
				<td><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></td>
				<td><a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></a></td>
			</tr>
			<tr>
				<td>
					{% include '_widget-login-user.html' %}
				</td>
				<td>
					
				</td>
				<td class="support">
					<div><a href="/portal/contact">Contact</a></div>
					<div><a href="">Documentation</a></div>
				</td>
			</tr>
		</table>
	</div>
	<div id="manager">
		<table>
			<tr>
				<td>INSTITUTION</td>
				<td>SLICES</td>
				<td>SUPPORT</td>
			</tr>
			<tr>
				<td><a href="/portal/institution"><img src="{{ STATIC_URL }}img/icon_authority_color.png" alt="" /></a></td>
				<td><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></td>
				<td><a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></a></td>
			</tr>
			<tr>
				<td>
					{% include '_widget-login-manager.html' %}
				</td>
				<td>
					
				</td>
				<td class="support">
					<div><a href="/portal/contact">Contact</a></div>
					<div><a href="">Documentation</a></div>
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock unfold_main %}
