{# fine for either layout-unfold1.html (logged in) or layout-unfold2.html (needs a login prompt) #}
{% extends layout_1_or_2 %}

{% block unfold_margin %}
{% include 'widget-login.html' %}
{% endblock unfold_margin %}

{% block unfold_main %}
<!-- xxx ideally only onelab.css but ... xxx -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/registration.css" />
	<div id="home-dashboard">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">USER</a></li>
	  <li><a href="#">MANAGER</a></li>
	</ul>
	<div id="user">
		<table>
			<tr>
				<td>PROFILE</td>
				<td>SLICES</td>
				<td>SUPPORT</td>
			</tr>
			<tr>
				<td><img src="{{ STATIC_URL }}img/icon_user_color.png" alt="" /></td>
				<td><img src="{{ STATIC_URL }}img/icon_slices.png" alt="" /></td>
				<td><img src="{{ STATIC_URL }}img/icon_support.png" alt="" /></td>
			</tr>
			<tr>
				<td>
					<a href="/portal/register">Register</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="manager">
		
	</div>
</div>

{% endblock unfold_main %}
