{% extends "layout.html" %}

{% block content %}

<div class="row">
	<h1><img src="{{ STATIC_URL }}img/icon_user_small.png" alt="User Registration" />Request to add organization</h1>
</div>
<div class="row">
  <h3>Organization information received.</h3>
<p>
We will contact the manager that you have listed with any questions that we might have.<br> 
Once we have added the organization to the list, we will alert the manager.<br>
At that time users from your organization will be able to sign up to join OneLab.
</p>
</div>

{% endblock %}
