{% extends "layout.html" %}
{% block content %}
{% load i18n %}
{% if validlink %}

<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/user-xs.png" alt="Password reset" /> Password reset</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<h3>Onelab secured Password reset wizard</h3>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	
	<form action="" method="post">{% csrf_token %}
	{{ form.new_password1.errors }}
	<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
	{{ form.new_password2.errors }}
	<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
	<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
	</form>

{% else %}
	
	<h3>Onelab secured Password reset wizard</h3>

	<p> The password reset link was invalid, possibly because it has already been used.  Please request a new <a href="/portal/pass_reset/">password reset.</a></p>

	<p>If you still encounter problem please <a href="/portal/contact/">Contact Support</a> for password recovery.</p> 
	</div>
</div>
{% endif %}

{% endblock %}

