{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/user-xs.png" alt="Password reset" /> Password reset</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<h3>Welcome to the secured password reset wizard</h3>

	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
	
	<form action="/portal/pass_reset/" method="post">{% csrf_token %}
	{{ form.email.errors }}
	<p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
	</form>
	</div>
</div>
{% endblock %}

