<img src="{{current_site}}/static/img/{{theme.logo}}" width="80px">
<br>
<p>Dear {{theme.label}} user,</p>
<p></p>
<p>You have recently requested a project in the {{theme.label}} portal.</p>
<br>
<b>Project name  :</b> {{project_name}}</br>
<b>Authority     :</b> {{authority_hrn}}</br>
<b>Email         :</b> {{email}}</br>
<b>Purpose       :</b> {{purpose}}</br>
<p></p>
<p>
	We are pleased to inform you that a manager from your institution has validated your project request on the {{theme.label}} portal. 
	You can now create slices and start experimenting.
</p>
<p></p>
<p>We wish you a fruitful user experience with the {{theme.label}} portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>The {{theme.label}} team</p>


