<img src="{{current_site}}/static/img/{{theme.logo}}" width="80px">
<br>
<h1>NEW PROJECT REQUEST</h1>
<br>
<p>You are receiving this request because we have you listed as a manager at an organization that uses {{theme.label}}.</p>
<p>A user from your organization has requested the creation of a new project.</p>
<br>
<b>Project name  :</b> {{project_name}}</br>
<b>Authority     :</b> {{authority_hrn}}</br>
<b>Email         :</b> {{email}}</br>
<b>Purpose       :</b> {{purpose}}</br>
<b>Portal url	 :</b> {{current_site}}</br> 
<p></p>
<p>You can see this new project request <a href="{{current_site}}/portal/institution#requests">in the portal.</a><p>
<p>Please be sure that you know the user who is requesting this project, as you are responsible for his or her actions.</p>
<p>And kindly ensure that the stated experiment purpose is clear.</p>
<p>{{theme.label}} and its affiliated testbeds exist purely to support useful and interesting work. To ensure the future of these environments, we need to know what work is actually being done.</p>
<p></p>
<p>If you believe that you have received this message in error, or if you have any questions, kindly contact contact@{{theme.theme}}.eu</p>
<br>
<p>Yours sincerely,</p>            
<p>The {{theme.label}} team</p>
