{% extends "layout.html" %}

{% block content %}        

<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/user-xs.png" alt="User Registration" />User sign-up</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
  		<p><strong>Questions? <a href="/contact" >Contact us.</a></strong></p>
  </div>
</div>
{% if errors %}
<div class="row">
	<div class="col-md-12">
		<ul class="error">
		  {% for error in errors %}
		  <li>{{ error | safe }}</li>
		  {% endfor %}
		</ul>
	</div>
</div>
{% endif %}
				<form action="/register" class="cmxform form-horizontal" method="post" enctype="multipart/form-data">
<div class="row">
	<div class="col-md-12">
			<div class="form-group">
				{% csrf_token %}
		  		<label for="authority_hrn" class="control-label">Organization</label>
				<p></p>
                <div class="ui-widget">
		  		<select id="org_name" name="org_name" class="form-control" style="width:590px" value="{{ organization }}" 
		  		title="Choose your organization (company/university) from the list that apears when you click in the field and start to type.
				 Use the arrow keys to scroll through the list; type part of the name to narrow down the list. We will send an email to 
				 the managers that we have on record for your organization, asking them to validate your sign-up request." required>
                {% if authorities %}
                    {% for authority in authorities %}
                        {% if authority.name %}
                            <option value="{{ authority.authority_hrn }}">{{authority.name}}</option>
                        {% else %}
                            <option value="{{ authority.authority_hrn }}">{{authority.authority_hrn}}</option>
                        {% endif %}
                    {% endfor %}    
                {% else %}
                    <option value:"">No authority found !!!</option>
                {% endif %}
                </select>
                </div>
				<p></p>
				<p>Organization not listed? <a href="/portal/join">Request its addition now.</a></p>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	
	    <div class="form-group">
			<label for="firstname" class="control-label">Personal information</label>
			<p></p>
			<input type="text" name="firstname" class="form-control" style="width:350px" minlength="2" value="{{ first_name }}" placeholder="First name" required />
	    </div>
	    <div class="form-group">
			<input type="text" name="lastname" size="25" class="form-control" style="width:350px" minlength="2" value="{{ last_name }}" placeholder="Last name" required />
	    </div>
		<div class="form-group">
	    	<input type="email" name="email" size="25"  class="form-control" style="width:350px" value="{{ email }}" 
			title="Your e-mail address will be your identifier for logging in. We contact you to verify your account and then, occasionally, for important issues."
			placeholder="Email" required />
		</div>
	</div>	

	<div class="col-md-6">
	    <div class="form-group">
	      <label for="password" class="control-label">Authentication</label>
		  <p></p>	
	      <input type="password"  id="password" name="password"   class="form-control" style="width:250px" minlength="4" value="{{ password }}" 
			title="Your password allows you to log in to this portal."
			placeholder="Password" required />
	    </div>
	    <div class="form-group">
			<input type="password"  id="confirmpassword" name="confirmpassword" style="width:250px"  minlength="4" class="form-control" value="" 
				placeholder="Confirm password" required />
	    </div>
	    <div class="form-group">
			<select name="question" class="form-control" style="width:350px" id="key-policy" 
				title="Your public/private key pair allows you to access the testbeds." required >        
		  		<option value="generate">Generate my keys for me (recommended)</option>
		  		<option value="upload">Upload my public key (advanced users only)</option>
			</select>
	    </div>
	    <div class="form-group" style="display:none;" id="upload_key">
	      	<label for="file" class="control-label">Upload public key</label>
	      	<input type="file" name="user_public_key" class="form-control" style="width:200px" id="user_public_key" />
	      	<br />
			<div class="alert alert-danger" id="pkey_del_msg">
				In order for the portal to contact testbeds on your behalf, so as to list and reserve resources, you will need to 
				<a href="/portal/manual_delegation" target="_blank">delegate your credentials to the portal.</a>
			</div>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<p></p>
			<input type="checkbox" name="agreement" value="agreement" required />&nbsp;&nbsp; I agree to the 
			<a href="#" data-toggle="modal" data-target="#myModal">terms and conditions.</a> 
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10">
		<div class="form-group" id="register">
			<span class="glyphicon glyphicon-info-sign"></span> &nbsp;
	    	If you are a <b>PlanetLab Europe</b> user, please fill in this form using the same email address that you
	    	 currently use for your PlanetLab Europe account.
	    	Your existing credentials will be used to validate your OneLab account.
	    	Please be sure to specify a different password for your new OneLab account.
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group" id="register">
			<p></p>	
	    	<input class="submit btn btn-onelab" type="submit" value="Sign up" />
	    	</form>
	    </div>
	</div>
</div>

	<!-- Modal - columns selector -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        					<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
      				</div>
      				<div class="modal-body">
						<p align="left">
							To be added soon.
						</p>

      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      				</div>
    			</div>
  			</div>
</div>

    
<script>
$(document).ready(function(){
    var availableTags = [
    {% if authorities %}
        {% for authority in authorities %}
            {% if authority.name %}
                {value:"{{ authority.authority_hrn }}",label:"{{authority.name}}"},
			// show hrn if we don't have the name
            {% else %}
                {value:"{{ authority.authority_hrn }}",label:"{{authority.authority_hrn}}"},
            {% endif %}
        {% endfor %}    
    {% else %}
        {value:"",label:"No authority found !!!"}
    {% endif %}
    ];
	// sorting the list
    
	availableTags.sort(function(a,b){
		var nameA=a.value.toLowerCase(), nameB=b.value.toLowerCase();
		if (nameA < nameB) {
    		return -1;
		}
		if (nameA > nameB) {
    		return 1;
		}
	return 0;
	}); 
	// auto-complete the form
    jQuery("#org_name").combobox();
	$('[title!=""]').qtip();
	$("form").validate();
	$("form").submit(function() {
		if ($('select option:selected').val() == 'upload') {
			if ($('input[name=user_public_key]').val() == '') {
				alert('Please specify the key file to upload');
				return false;
			}
		}
	});
});
</script>
{% endblock %}

