{% extends "layout.html" %}

{% block content %}

<div class="col-md-8">
	<br>
	<h2>Release Notes</h2>
	<h3>Version</h3>
	<h4>1.4</h4>
    <h5>Release date: 12 May 2015</h5>
	    <ul>
            <li>Create projects within any organization (requires validation)</li>
            <li>Join any projects under any organizations (requires validation)</li>
            <li>
                Manage your projects (All users within a project can manage it)
                <ul>
                    <li>Accept/reject users willing to join your project</li>
                    <li>Create/delete slices within your project</li>
                </ul>
            </li>
            <li>
                Now create slices within a project, instead of directly under your organization
                <ul>
                    <li>
                        Create as many slices as you wish within a project, without requiring approval from the organization manager
                    </li>
                </ul>
            </li>
            <li>Faster loading time for resources, slices, and organizations</li>
            <li>Improved automatic email communication</li>
            <li>Improved stability, reliability and user-friendliness</li>
            <li>Several bug fixes</li>
        </ul>	
</div>
{% endblock %}

