<img src="{{ STATIC_URL }}img/onelab.png">
<br>
<p>Dear OneLab user,</p>
<p></p>
<p>You have recently requested the following slice in the OneLab portal({{portal_url}}):</p> 
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{url}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<br>
<p>We regret to inform you that, a manager of your institution has rejected your request. Please contact the manager of your institution for further information. For any other queries, contact us by replying to this email.</p>
<br>
<p>On behalf of the entire team, I wish you a fruitful user experience on OneLab.</p>
<br>
<p>Yours sincerely,</p>
<br>
<p>Timur Friedman</p>
<p>Executive Director</p>

