<img src="https://onelab.eu/static/images/onelab.png">
<br>
<p>Dear OneLab user,</p>
<p></p>
<p>You have recently requested a slice in the OneLab portal.</p>
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{number_of_nodes}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<p></p>
<p>We are glad to inform you that, a manager of your institution has validated your slice request. You can now add resources to the slice and start experimenting.</p>
<p></p>
<p>On behalf of the entire team, I wish you a fruitful user experience on OneLab.</p>
<p></p>
<p>Yours sincerely,</p>

<p>Timur Friedman</p>
<p>Executive Director</p>


