{% extends "layout-unfold1.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold1_main %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/onelab.css" />
<!-- xxx ideally only onelab.css but ... xxx -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/registration.css" />

<div class="onelab-title well well-lg">
  <h2>Request a Slice</h2>
</div>

<div class='well'>
  <form id="commentForm" class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
  <fieldset>
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.html_name }}" class="col-md-4 control-label">{{ field.label }}</label>
      <div class="col-md-4"> {{ field.errors }} {{ field }} <p class="hint">{{ field.help_text }}</p> </div>
    </div>
    {% endfor %}
    <div class="col-md-offset-4 col-md-4">
      <button class="submit btn btn-default" type="submit">Submit</button>
    </div>
  </fieldset>
  </form>
</div>

{% endblock %}
