{% extends "layout-unfold1.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold1_main %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/register.css" />

<form id="commentForm" action="" method="post">{% csrf_token %}

<div class="OneLabTitle" style="margin-bottom:20px;">
         <h2>Request a Slice</h2>
</div>

{{ form.as_p }}
<p style="text-align: center;width: 80%;">
	<input type="submit" value="Submit" />
</p>
</form>

{% endblock %}
