{% extends "layout-unfold1.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/onelab.css" />
<!-- xxx ideally only onelab.css but ... xxx -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/registration.css" />

<div class="onelab-title well-lg">
  <h2>Request a Slice</h2>
</div>

<div class='well'>
  <form id="commentForm" class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
  <fieldset>
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.html_name }}" class="col-xs-2 control-label">{{ field.label }}</label>
      <div class="col-xs-4"> {{ field.errors }} {{ field }} </div>
      <div class="col-xs-6"> <p class="form-hint">{{ field.help_text }}</p> </div>
    </div>
    {% endfor %}
    <button class="submit btn btn-default col-xs-12" type="submit">Request Slice</button>
  </fieldset>
  </form>
</div>

{% endblock %}
