<img src="{{portal_url}}/static/img/{{theme.logo}}" width="80px">
<br>
<p>Dear OneLab user,</p>
<p></p>
<p>You have recently requested the following slice on the OneLab portal({{portal_url}}):</p> 
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{url}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<br>
<p>We regret to inform you that, a manager of your institution has not confirmed your request. Please contact the manager of your institution for further information. 
For any other queries, please contact us by replying to this email.</p>
<br>
<p>On behalf of the entire team, I wish you a fruitful user experience on OneLab.</p>
<br>
<p>Yours sincerely,</p>
<br>
<p>Timur Friedman</p>
<p>Executive Director</p>

