<img src="{{ STATIC_URL }}img/onelab.png">
<br>
<p>Dear OneLab user,</p>
<p></p>
<p>You have recently requested a slice in the OneLab portal. We are sorry to inform you that, a manager of your institution has rejected your request. Please contact the manager of your institution for further information. For any other queries, contact us by replying to this email.</p>
<p></p>
<p>On behalf of the entire team, I wish you a fruitful user experience on OneLab.</p>
<p></p>
<p>Yours sincerely,</p>
<p></p>
<p>Timur Friedman</p>
<p>Executive Director</p>

