{% extends "layout.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12">
	<h1><img src="{{ STATIC_URL }}icons/user-xs.png" alt="User Registration" />User sign-up</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	  <h3>Sign up information received.</h3>
	  <p>You can now <a href="/">log in</a> to the portal. You will have limited access. </p>
	  <p>To gain full access, two steps are required:</p>
	  <ul style="list-style-type:decimal;">
		<li>You confirm your signup request by clicking on the link in the email that we have sent to your email address.</li>
		<li>A manager from your organization validates your request. (We have sent email to your organisation's registered managers.)</li>
	  </ul>
  	</div>
</div>

{% endblock %}
