<img src="{{current_site}}/static/img/{{theme.logo}}">	
<br>
<h1>NEW USER REQUEST</h1>
<br>
<p>You are receiving this request because we have you listed as a manager at an organization that uses {{theme.label}}.</p> 
<p>If you believe that you have received this message in error, or if you have any questions, kindly contact support@{{theme.theme}}.eu.</p>
<br>
<b>First name   :</b> {{first_name}}<br>
<b>Last name    :</b> {{last_name}}<br>
<!--<b>Organization :</b> {{organization}}<br> -->
<b>Authority hrn:</b> {{authority_hrn}}<br>
<b>Public key   :</b> {{public_key}}<br>
<b>Email        :</b> {{email}}<br>
<b>User hrn     :</b> {{user_hrn}}<br>
<b>Portal url	:</b> {{ current_site }}<br>
<p></p>
<p>You can see new user request <a href="{{current_site}}/portal/institution#requests">in the portal.</a><p>

{% include theme|add:"_widget-user_request_email.html" %}

<p>Yours sincerely,</p>        
<p>The {{theme.label}} team</p>
