{% extends "layoutjacks.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/onelab.css" />-->

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/fed4fire.css" />
<script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/jacks/js/main.js"></script>
<html>
<head>
  <title>Jacks Topology Editor</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!--  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script> -->
<script language="javascript">var STATIC_URL = "{{ STATIC_URL}}";</script>
  <script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/jacks/lib/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/jacks/js/jacks.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/jacks/js/editor.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/jacks/js/main.js"></script>
<!--<script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/js/main.js"></script>-->
<!--<script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/js/bootstrap.min.js"></script>-->
   <script type="text/javascript" src="{{STATIC_URL}}unbound_reservation_static/js/createpost.js"></script>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}unbound_reservation_static/jacks/css/dhtmlxcalendar.css"/>
	<script src="{{STATIC_URL}}unbound_reservation_static/jacks/lib/dhtmlxcalendar.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}unbound_reservation_static/jacks/css/bootstrap.css" />
  <style>
    #jacksContainer {
      position: absolute;
      top: 65px;
      bottom: 0px;
      width: 100%;
      background-color: #fff;
    }
    body {
      background-color: #ddd;
    }
    .navbar {
      background-color: #0092bc;
    }
    .logo-container {
      padding: 10px;
      text-align: center;
    }
    .action {
      margin: 5px;
      margin-top: 3px;
    }
    div#overlay {
      position: absolute;
      top: 65px;
      left: 0px;
      height: 40px;
      z-index: 60;
width:1600;
 background-color: #ddd;
    }
    .btn-primary {
      background-color: #3465a4;
    }
	
  </style>
  	<style>
	div.footer {    
  display:none;
}
		input#date_from, input#date_to {
			font-family: Tahoma;
			font-size: 12px;
			background-color: #fafafa;
			border: #c0c0c0 1px solid;
			width: 100px;
		}
		span.label {
			font-family: Tahoma;
			font-size: 12px;
		}
	</style>
	<script>
		var myCalendar;
function doOnLoad(){

   var d = new Date();
		s=myslice.get_user().slices;
	console.log(s);
	var sel = document.getElementById('user_slices');
for(var i = 0; i < s.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = s[i];
    opt.value = s[i];
    sel.appendChild(opt);
}
		myCalendar1 = new dhtmlXCalendarObject(["fromdate"]);
		myCalendar2 = new dhtmlXCalendarObject(["todate"]);
		if (d.getDate()<10) {
		var ndate="0"+(d.getDate()).toString();
		}
		else {
		var ndate=(d.getDate()).toString();
		}
		if (d.getMonth()+1<10) {
		var n=(d.getMonth()+1).toString();
		var nmonth="0"+n;
		} else {
		var nmonth=(d.getMonth()+1).toString();
		}
		var today=d.getFullYear()+"-"+nmonth+"-"+ndate;
		//console.log("today:"+today);
		myCalendar1.setSensitiveRange(today, null);
		myCalendar1.setDateFormat("%D %M %j %H:%i:%s EET %Y");
		myCalendar2.setSensitiveRange(today, null);
		myCalendar2.setDateFormat("%D %M %j %H:%i:%s EET %Y");
		
		d.setDate(d.getDate());
		d.setHours(d.getHours());
		d.setMinutes(d.getMinutes());
		
		document.getElementById("fromdate").value = myCalendar1.getFormatedDate(null,d);
		
		//d.setDate(14);
		//d.setHours(10);
		//d.setMinutes(0);
		document.getElementById("todate").value = myCalendar2.getFormatedDate(null,d);
		}
		
		function setSens(inputId,mezh){
	var d1 = new Date();

		/*	if (k == "min") {
				myCalendar.setSensitiveRange(byId(id).value, null);
			} else {
				myCalendar.setSensitiveRange(null, byId(id).value);
			}*/
		}
		function byId(id) {
			return document.getElementById(id);
		}
	</script>


</head>
<body    onload="doOnLoad();">

  <div id="overlay" >
<form class="form-inline">
  <div class="form-group">
<!--<button id="view-source" class="btn btn-primary action pull-left">View Source</button>-->
   <button id="load" class="btn btn-primary action pull-left">Load</button>
<button id="save" class="btn btn-primary action pull-left">Save</button>
<button id="fbcClear" class="btn btn-danger action pull-left">Delete All</button> <input type="hidden" name="jsondata" id="jsondata" value=""> </div>
 <div class="form-group">


 <input  id="fromdate" onclick="setSens('todate','max');" readonly="true" type="text">
 

<input  id="todate" onchange="getItemsList(document.getElementById('elemid').value)" onclick="setSens('fromdate','min')" value="" id="todate" readonly readonly="true" type="text">
</div> <div class="form-group">

<select class="form-control"  id="user_slices" name="user_slices_list"></select></div>
<button type="button" id="b1" name="b1" class="btn btn-warning action pull-right">Send request</button><br><button type="button" id="b2" name="b2" class="btn btn-warning action pull-right" style="display:none;">Reserve request</button>
<div id="but" align="right"  ></div>

  </form>
  </div>

  <div id="jacksContainer" class="jacks" style="display: none"></div>

  <div id="load-input" style="display: none"/>

  <script>
  var columns_unsaved = {};
  var columns = {};
    $(document).ready(function () {
	
      var jacksInput = null;
      var jacksOutput = null;

      window.jacksInstance =
        new window.Jacks(createOptions(function (input, output) {
          jacksInput = input;
          jacksOutput = output;

          input.trigger('change-topology',
                        [{ rspec:
                              document.getElementById('rspec').textContent }]);

          jacksOutput.on('fetch-topology', saveToFile);
          jacksOutput.on('selection', function (selection) {
//          console.log(selection);
    });
        }));
      if (! window.File || ! window.FileReader || ! window.FileList ||
          ! window.Blob)
      {
        $('#load').hide();
      }
      if (! window.Blob)
      {
        $('#save').hide();
      }

     $('#view-source').click(function () {
	 jacksInput.trigger('show-rspec');
       if (jacksInput)
       {
         jacksInput.trigger('show-rspec');
       }
    });

    $('#save').click(function () {
      if (jacksInput)
      {
        jacksInput.trigger('fetch-topology');
      }
    });

    function saveToFile(rspecList)
    {
      var file = new Blob([rspecList[0].rspec],
                          { type: 'application/octet-stream' });
      var a = document.createElement('a');
      a.href = window.URL.createObjectURL(file); 
      a.download = 'saved.rspec';
      document.body.appendChild(a);
      a.click(); $('a').last().remove();
    }

    $('#load').click(function () {
    
      if (jacksInput)
      {
     
        $('#load-input').html('<input type="file"/>');
        $('#load-input input').on('change', function () {
          var file = $('#load-input input')[0].files[0];
          if (file)
          {
 
            var reader = new FileReader();
            reader.onload = function (e) {
              var contents = e.target.result;

              jacksInput.trigger('change-topology', [{ rspec: contents }]);
            
            };
          

 $("#fbcClear").click();
clearall(columns);
            reader.readAsText(file);

          }
        });
        $('#load-input input').click();
      }
    });


   });
   function resetForm(k,colid) {
//var elemid=document.getElementByName('elemid').value;
//console.log(columns)
var a=[];
if (colid){
console.log('1'+jsondata);
delete columns[colid];
console.log('2'+jsondata);
}
for(var m in columns) {
    var value = columns[m];
	var test = value.data;
//alert(value.valid_from+" " +value.valid_until + " " + test);
//a[m]="{valid_from:"+value.valid_from+"{," +value.valid_until + " " +value.type;
var myEvent =JSON.stringify(test);
//myEvent=myEvent.substring(2);
myEvent=myEvent.replace("}}","}");
a.push(myEvent);
//console.log("*****************"+myEvent);
//console.log( a.toString() );

}
var jsondata="{\"resources\":["+a.toString()+"]}";
console.log(jsondata);
document.getElementById("jsondata").value=jsondata;

var myEvent2 =JSON.stringify(a);
//var myEvent =JSON.stringify(value.data);
//console.log(myEvent2);
var myEvent1 = {"resources":[{"type": "Node"},{"type": "Node"}]};

  //create_post();
 }
 
 
 function clearall(col){
 for(var m in col) {
    var value = col[m];
   alert("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");

	alert(value.data.name);
	alert(columns[value.data.name]);
delete columns[value.data.name];
alert(columns[value.data.name]);
	console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
 }
 
 }
   function getItemsList(id,nodetype,testbed) {
console.log(id);
//console.log(s.length);


    var items = document.querySelectorAll('[type=text]');
  
var key = id;
from=document.getElementById("fromdate").value;
to=document.getElementById("todate").value ;
console.log("nikos"+id+ from+to);
domaintyp=testbed;
if (id){
if (domaintyp){
 columns_unsaved[key] = {
 type:'Node',
 name:id,
 exclusive:nodetype,
 valid_from:from,
		valid_until:to,
		 domain:testbed
		}
		} else {
		columns_unsaved[key] = {
 type:'Node',
 name:id,
 exclusive:nodetype,
 valid_from:from,
		valid_until:to
		}
		} 
    columns[key] = {
        valid_from:from,
		valid_until:to,
		type:'Node',
        domain:testbed,
        exclusive: nodetype,
		saved:true,
		data: columns_unsaved[key]
    };

resetForm(columns);
}
};
  </script>

<script type="text/xml" id="rspec">
<rspec
    xmlns="http://www.geni.net/resources/rspec/3"
    xmlns:emulab="http://www.protogeni.net/resources/rspec/ext/emulab/1"
    xmlns:tour="http://www.protogeni.net/resources/rspec/ext/apt-tour/1"
    xmlns:jacks="http://www.protogeni.net/resources/rspec/ext/jacks/1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.geni.net/resources/rspec/3 http://www.geni.net/resources/rspec/3/request.xsd" type="manifest" expires="2014-03-25T22:07:07Z">
</rspec>

</script>
</body>
</html>
<!-- END of Reputation Specific -->
{% endblock %}

