div.plugin-toggle {
    padding:		4px;
    border-style:	dotted;
    border-width:	1px;
    border-radius:	8px;
}
p.plugin-show {
    cursor: s-resize;
}
p.plugin-hide { 
    cursor: n-resize;
}
i.icon-hand-right,i.icon-hand-down {
    padding-right: 4px;
}
a.plugin-tooltip { 
    font-size: 150%;
    font-style: italic;
    padding: 4px;
    color: #808080;
}
a.plugin-tooltip:hover { 
    color: #102050; 
    text-decoration: none;
}
