div.plugin-toggle {
    padding:		4px;
    border-style:	dotted;
    border-width:	1px;
}
p.plugin-show {
    cursor: s-resize;
}
p.plugin-hide { 
    cursor: n-resize;
}
p.plugin-show,i.icon-hand-right, p.plugin-hide,i.icon-hand-down {
    padding-right: 4px;
}
