/* this is to get the content below the navbar */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

div.topmenu { padding-top: 10px; }
button#logout { 
    margin-left: 8px; 
    margin-bottom: 10px; 
}
span.logged-in { font-size: x-small; }
