p.login-status {
    padding-top: 10px;
    font-weight: bold;
}

p.login { 
    font-style: italic;
    margin-bottom: 0px; /* who says 10px ? */
}
input.login {
    width: auto;
    margin: 5px;
    padding: 3px 10px;
}
input.login[type="password"] {
    border: solid 1px #444;
    background-image: url( '../img/form_input_password.png' );
    background-repeat: repeat-x;
    background-position: top;
}
input.login[type="submit"] {
    margin-top: 20px;
}
