<div class="experiment-tools">
    <h4 title="Some tools do their own slice creation and management.">Experiment now</h4>
    <p class="jfed">
        <button id="start" class="btn btn-primary" type="button" onclick="launchjFed()"><span class="glyphicon glyphicon-cloud"></span> Start jFed</button>
    </p>
    <div id='java7Dialog' title="Old Java version detected" >
    <p>The latest version of jFed is only compatible with Java 8 or higher. We detected that you are using an older version.</p>
    <p>Please upgrade to Java 8 to get access to the newest version of jFed. Otherwise, you can use jFed 5.3.2, which is Java 7-compatible.</p>
    </div>
    <div id='noJavaDialog' title="No Java detected" >
    <p>jFed requires Java to run. We however couldn't detect a Java installation in your browser.</p>
    <p>Please install the latest version of Java to continue.</p>
    </div>

</div>

