{% extends "layout.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			 <div class="breadcrumbs" style="line-height: 3;">
			 	 Experiment &nbsp;>&nbsp; Request a new Slice
			 </div>
		</div>
	</div>

	{% if errors %}
	<div class="row">
		<div class="col-md-12">
		<ul class="error">
		  {% for error in errors %}
		  <li>{{ error }}</li>
		  {% endfor %}
		</ul>
		</div>
	</div>
	{% endif %}
	
	<div class="row">
		<div class="col-md-8 el">
			<form role="form" method="post">
			{% csrf_token %}
			  <div class="form-group" style="display:none">
			    <input type="email" class="form-control" id="email" style="width:300px" value="{{ email }}" readonly="readonly">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="slice_name" id="slice_name" style="width:300px" placeholder="Slice name" value="{{slice_name}}" 
				title="Please enter a name for your slice"required="required">
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" id="authority_hrn" name="org_name" style="width:300px" placeholder="Project" 
				title="Select a project under which you want to create your slice" required="required">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="url" id="url" style="width:300px" placeholder="Experiment URL (if one exists)"
				title="Please provide the url of your experiment if you have one." value="{{url}}">
			  </div>
			  <div class="form-group">
			  	<textarea id="purpose" name="purpose" class="form-control" rows="6" placeholder="Experiment purpose" style="width:300px" 
				title="Purpose of your experiment (informative)" required="required">{{ purpose }}</textarea>
			  </div>
			  {% if pi %}	
			  <button type="submit" id=submit_pi class="btn btn-onelab"><span class="glyphicon glyphicon-plus"></span> Create slice</button>
			  {% else %}
			  <button type="submit" class="btn btn-onelab"><span class="glyphicon glyphicon-plus"></span> Request slice</button>
			  {% endif %}	
			</form>
	
		</div>
	</div>
		
<script>
jQuery(document).ready(function(){
    var myprojects = JSON.parse(localStorage.getItem('projects'));
    $( "#authority_hrn" ).autocomplete({
        source: myprojects,
        change: function (event, ui) {
                if(!ui.item){
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $("#authority_hrn").val("");
                }
        }
    });
});

/*function draw_projects(authority_hrn){

    var projects = [];
    project_row = "<option value=''> - </option>";
    projects.push(project_row);

    if(authority_hrn.length > 0){
        // Not for root authority
        if(authority_hrn.split('.').length > 1){
            $.post("/rest/myslice:authority/",{'fields':['authority_hrn','pi_users'],'filters':{'authority_hrn':'CONTAINS'+authority_hrn}}, function( data ) {
               
                $.each( data, function( key, val ) {
                    project_row = "<option value='"+val.authority_hrn+"'>"+val.authority_hrn+"</option>";
                    projects.push(project_row);
                });
                $("#project").html(projects.join( "" ));
            });
        }else{
            $("#project").html(projects.join( "" ));
        }
    }else{
        my_projects = JSON.parse(localStorage.getItem('projects'));
        $.each( my_projects, function( i, val ) {
            project_row = "<option value='"+val+"'>"+val+"</option>";
            projects.push(project_row);
        });
        $("#project").html(projects.join( "" ));
    }
    $("#project").show();
    $("#project_loading").hide();
}*/
</script>
{% endblock %}

