{% extends "layout.html" %}

{% block content %}
	<div class="row">
		<h1><img src="{{ STATIC_URL }}icons/support-xs.png" alt="Support" /> Fed4Fire Portal Support</h1>
	</div>

	
	<div class="row">
		<h2>Report a Bug</h2>
		<p>If you have found a bug or having difficulties accesing some features or found some anomalies, please report it using our ticketing system.</p>
		<button id="ticketbtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create Ticket</button>
	</div>
	
	<div class="row">
	
		<h2><a href="/portal/support/documentation">FAQ</a></h2>
		<h2>Contact Us</h2>
		
		<h3>Mailing List</h3>
		<p>You can subscribe to our mailing list by sending a request to: <b>support</b> AT <b>myslice</b> DOT <b>info</b></p>
		<p>Also you can adress any issues in the same email address.</p>
		
		<h3>Mailing Address</h3>
		<p>
		UPMC - LIP6<br> 
		Boîte courrier 16 <br>
		Couloir 26-00, Etage 01, Bureau 102<br>
		4 place Jussieu<br>
		75252 PARIS CEDEX 05<br>
		France<br> 
		</p>
	</div>

<script>
    $(document).ready(function() {
		$('li#nav-support').addClass("active");
        $('button#ticketbtn').click(function() {
            window.location="/portal/contact/";
        });
    });
</script>


{% endblock %}

