<img src="https://portal.fed4fire.eu/static/img/f4f-logo.png" width="80px">
<br>
<h1>JOIN PROJECT REQUEST</h1>
<br>
<p>You are receiving this request because we have you listed as a manager of a project that uses Fed4FIRE.</p>
<p>A user has requested to join your project, which will allow him or her to reserve testbed resources to conduct an experiment.</p>
<br>
<b>Project name  :</b> {{project_name}}</br>
<b>Authority     :</b> {{authority_hrn}}</br>
<b>Email         :</b> {{email}}</br>
<p></p>
<p>You can accept or reject this request <a href="{{current_site}}/portal/project/{{authority_hrn}}.{{project_name}}#requests">in the portal.</a><p>
<p>Please be sure that you know the user who is requesting to join your project.</p>
<p>Fed4FIRE and its affiliated testbeds exist purely to support useful and interesting work. To ensure the future of these environments, we need to know what work is actually being done.</p>
<p></p>
<p>If you believe that you have received this message in error, or if you have any questions, kindly contact contact@fed4fire.eu</p>


