<img src="https://portal.fed4fire.eu/static/img/f4f-logo.png">
<br>
<p>Dear {{first_name}} {{last_name}},</p>
<p></p>
<p>It is my pleasure to welcome you as a fully registered user of the Fed4FIRE portal. Fed4FIRE provides you with access to world-class computer networking testbeds. Our aim in Fed4FIRE is to promote the use of these testbeds for industrial research and development, scientific research, and university-level laboratory exercises.</p>
<p></p>
<p>Your entry point for access to our testbeds is the Fed4FIRE portal, which provides a web-based interface for browsing and reserving resources on the various testbeds. To run an experiment using these resources, you may either log into the specific testbed and/or individual nodes on the testbed using your Fed4FIRE public/private key pair, or you may use an experiment control tool such as as NEPI or OMF. The Fed4FIRE operations team is standing by at contact@fed4fire.eu to provide you with any help regarding the portal, or to refer your testbed and tool-specific queries to those best able to answer them.</p>
<p></p>
</p>We  wish you a fruitful user experience with the Fed4FIRE portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>THE Fed4FIRE team</p>
