<img src="http://www.fed4fire.eu/uploads/media/fed4fire-logo.jpg">
<br>
<p>Dear Fed4Fire user,</p>
<p></p>
<p>You have recently requested the following slice on the Fed4Fire portal({{portal_url}}):</p> 
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{url}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<br>c
<p>We regret to inform you that, a manager of your institution has not confirmed your request. Please contact the manager of your institution for further information. 
For any other queries, please contact us by replying to this email.</p>
<br>
<p>On behalf of the entire team, I wish you a fruitful user experience on Fed4Fire.</p>
<br>
<p>Yours sincerely,</p>
<p>The Fed4Fire team</p>

