<img src="https://portal.fed4fire.eu/static/img/f4f-logo.png" width="80px">
<br>
<p>Dear Fed4FIRE user,</p>
<p></p>
<p>You have recently requested a project in the Fed4FIRE portal.</p>
<br>
<b>Project name  :</b> {{project_name}}</br>
<b>Authority     :</b> {{authority_hrn}}</br>
<b>Email         :</b> {{email}}</br>
<b>Purpose         :</b> {{purpose}}</br>
<p></p>
<br>
<p>We regret to inform you that, a manager of your institution has rejected your request. Please contact the manager of your institution for further information. 
For any other queries, please contact us by replying to this email.</p>
<br>
<p>We wish you a fruitful user experience on Fed4FIRE.</p>
<br>
<p>Yours sincerely,</p>
<p>The Fed4FIRE team</p>
