{% extends "layout_base.html" %}
{% load portal_filters %}

{% block content %}
<!-- <div class="row">
{% widget '_widget-news.html' %}
</div> -->
{% if username %}

{% block head %} 
<script type="text/javascript" src="https://java.com/js/dtjava.js"></script>
{% endblock head %}

{% widget "_widget-no_credentials.html" %}
<div class="container dashboard">
	<div class="row">
	    <div class="col-md-12">
	{%if 'no_creds'  in user_cred %}
      	<p class="command"><a href="#" style="color:red" data-toggle="modal" data-target="#myModal">NO CREDENTIALS</a> are delegated to the portal!</p>
  	{%endif%}
	{%if 'creds_expired'  in user_cred %}
    	<p class="command"><a href="#" style="color:red" data-toggle="modal" data-target="#myModal">EXPIRED CREDENTIALS</a> Please delegate again your credentials to the portal!</p>
    {%endif%}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>
                <a href="/portal/slice_request"><img src="{{ STATIC_URL }}img/icon_slices_small.png" alt="" /></a>EXPERIMENT
            </h3>
            
            <div class="projects-tree">
                Your projects and slices
                <span title="A <b>slice</b> is a set of testbed resources on which you can conduct an experiment. 
                Either ask your colleagues to give you access to an existing slice or request a new slice by clicking 'Request Slice'. 
                However, on the Fed4FIRE portal, you will only see slices that you have created through Fed4FIRE. If you have created slices elsewhere, 
                those slices will not appear here. <br /><br /> A <b>project</b> is a sub-authority under the responsability of your institution gathering users, 
                who will be able to create slices for their experiments." class="glyphicon glyphicon-info-sign">&nbsp;</span> 
             
                <div id="home-project-tree"><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading projects" /></div>
            </div>
            <div>
                <span class="glyphicon glyphicon-plus"></span> <a href="/portal/slice_request/">Create slice</a>
                <br />
                <span class="glyphicon glyphicon-cog"></span> <a href="/portal/project_request/">Create/Join project</a>
            </div>
            
            <div class="experiment-tools">
                <h4 title="Some tools do their own slice creation and management.">Experiment now</h4>
                <p>
                    <a class="btn btn-primary" id="webstart-button"
                        href='http://jfed.iminds.be/releases/5.4-dev/r2314/webstart/experimenter/jfed-experimenter.jnlp'
                        title="Click here to start your experiment with jFed">
                        <span class="glyphicon glyphicon-cloud"></span> jFed</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <a href="/portal/account/"><img src="{{ STATIC_URL }}img/icon_user_small.png" alt="" /></a>ACCOUNT
                    </h3>
                    {% if person.last_name %}
                    <p>
                        {{person.first_name}} {{person.last_name}}
                    </p>
                    {% endif %}
                    <p>
                        <span class="glyphicon glyphicon-user"></span> <a href='/portal/account/' title="Click here to see and edit your account details.">{{person.email}}</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <a href="/portal/institution"><img src="{{ STATIC_URL }}img/icon_authority_color_small.png" alt="" /></a>MANAGEMENT
                    </h3>
                   
                    <div>
                        <span class="glyphicon glyphicon-ok"></span> <a href="/portal/institution#requests">Validate Requests</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <a href="/portal/support"><img src="{{ STATIC_URL }}img/icon_support_small.png" alt="" /></a>SUPPORT 
                    </h3>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="/portal/contact/">Contact</a>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-stats"></span> <a target="_blank" href="https://flsmonitor.fed4fire.eu">Testbeds' status</a>
                        </br />
                        <span class="glyphicon glyphicon-stats"></span> <a href="/portal/reputation">Testbeds' reputation</a>
                        
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-book"></span> <a target="_blank" href="http://doc.fed4fire.eu/">Documentation</a>
                    </p>
                </div>
            </div>            
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid home">
	<div class="">
		<div class="col-sm-2"></div>
		<div class="col-sm-4 slogan">
			<h2>
				Fed4FIRE Portal
			</h2>
			<h3>
				Your easy access to Future Internet Research and Experimentation testbeds belonging to the Fed4FIRE federation.
			</h3>
			<h3>
				 <a href='http://doc.fed4fire.eu'>Want to learn more?</a>
			</h3>
		</div>
		<div class="col-sm-4 col-sm-offset-1" style="width:400px; top:16px; float:left;">
   			<div class="row">
				{% widget '_widget-login-user.html' %}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function() {
        $('#webstart-button').click(function(){
            var platform8 = new dtjava.Platform({javafx: '8+', jvm: '1.8+'});
            var config = {
                java8_jnlp: 'http://jfed.iminds.be/releases/5.4-dev/r2314/webstart/experimenter/jfed-experimenter.jnlp',
                java7_jnlp: 'http://jfed.iminds.be/releases/r2269/webstart/experimenter/jfed-experimenter.jnlp'
            };
            var certkey = "{{jfed_identity}}";

            dtjava.launch({url: config.java8_jnlp, params: {'login-certificate-string' : certkey } } , platform8, {});
            //launchjFed();
        });
	    {%if 'no_creds' in user_cred or 'creds_expired' in user_cred %}
        localStorage.clear();
        $.post("/cache/clear/", function( data ) {
        });
        {% endif %}
		$('a.home-tab').click(function() {
			$('ul.nav-tabs li').removeClass('active');
			$(this).parent().addClass('active');
			$('div.home-panel').hide();
			$('div#'+$(this).data('panel')).show();
		});
		
});
</script>

<!--
for jfed tool
<script type="text/javascript" src="{{STATIC_URL}}js/fed4fire_dtjava_orig.js"></script>
<script>
	function launchApplication(jnlpfile) {
     	dtjava.launch(
        	{ url : jnlpfile },
            {
            	javafx : '2.2+',
                toolkit: 'swing'
            	},
                {}
        );
        return false;
     }
</script>
-->

{% endblock %}
