<img src="http://www.fed4fire.eu/uploads/media/fed4fire-logo.jpg">
<br>
<p>Dear Fed4FIRE user,</p>
<p></p>
<p>You have recently requested a slice in the Fed4FIRE portal.</p>
<br>
<b>Slice name   :</b> {{slice_name}}<br>
<b>URL          :</b> {{url}}<br>
<b>Purpose      :</b> {{purpose}}<br>
<p></p>
<p>
	We are pleased to inform you that a manager from your institution has validated your slice request on the Fed4FIRE portal. 
	You can now add resources to you slice and start experimenting.
</p>
<p></p>
<p>We wish you a fruitful user experience with the Fed4FIRE portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>The Fed4FIRE team</p>


