<img src="https://portal.fed4fire.eu/static/img/f4f-logo.png" width="80px">
<br>
<p>Dear Fed4FIRE user,</p>
<p></p>
<p>You have recently requested to join a project in the Fed4FIRE portal.</p>
<br>
<b>Project name  :</b> {{project_name}}</br>
<b>Authority     :</b> {{authority_hrn}}</br>
<b>Email         :</b> {{email}}</br>
<p></p>
<p>
	We are pleased to inform you that a project manager has validated your request on the Fed4FIRE portal. You have automatically been added to all existing slices in this project. You may also create new slices in this project and start experimenting.
</p>
<p></p>
<p>We wish you a fruitful user experience with the Fed4FIRE portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>The Fed4FIRE team</p>


