{% extends "layout.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			 <div class="breadcrumbs">
			 	 Experiment &nbsp;>&nbsp; Request a new Project or Join an existing one
			 </div>
		</div>
	</div>

	{% if errors %}
	<div class="row">
		<div class="col-md-12">
		<ul class="error">
		  {% for error in errors %}
		  <li>{{ error }}</li>
		  {% endfor %}
		</ul>
		</div>
	</div>
	{% endif %}
	
	<div class="row">
		<div class="col-md-8 el">
			<form role="form" method="post">
			{% csrf_token %}
			  <div class="form-group" style="display:none">
			    <input type="email" class="form-control" id="email" style="width:300px" value="{{ email }}" readonly="readonly">
			  </div>
			  <div class="form-group">
		  		<select id="org_name" name="org_name" class="form-control" style="width:590px" value="{{ organization }}" required> 
                {% if authorities %}
                    {% for authority in authorities %}
                        {% if authority.name %}
                            <option value="{{ authority.authority_hrn }}">{{authority.name}}</option>
                        {% else %}
                            <option value="{{ authority.authority_hrn }}">{{authority.authority_hrn}}</option>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
                </select>
			  </div>
			  <div class="form-group">
                <input type="text">New Project</input>
			  </div>
			  <div class="form-group">
                <input type="text">Existing Project</input>
			  </div>
			  <div class="form-group">
			  	<textarea id="purpose" name="purpose" class="form-control" rows="6" placeholder="Project purpose" style="width:300px" 
				title="Purpose of your project (informative)" required="required">{{ purpose }}</textarea>
			  </div>
			  {%if 'is_pi'  in pi %}	
			  <button type="submit" id=submit_pi class="btn btn-onelab"><span class="glyphicon glyphicon-plus"></span> Create slice</button>
			  {%else%}
			  <button type="submit" class="btn btn-onelab"><span class="glyphicon glyphicon-plus"></span> Request slice</button>
			  {%endif%}	
			</form>
	
		</div>
	</div>
		
<script>
jQuery(document).ready(function(){
/*
	
	$("#authority_hrn").load("/rest/user/", {"fields" : ["parent_authority"], "filters": {"user_hrn": "{{ user_hrn }}"}}, function(data) {
		var jsonData = JSON.parse(data);
        $(this).attr("value", jsonData[0]['parent_authority']);
    });
	$("#authority_hrn").val("{{authority_name}}");
	var availableTags = [
    {% if authorities %}
        {% for authority in authorities %}
            {% if authority.name %}
                {value:"{{ authority.name }}",label:"{{authority.name}}"},
			// to show only full name
            {% else %}
                {value:"{{ authority.authority_hrn }}",label:"{{authority.authority_hrn}}"},
            {% endif %}
        {% endfor %}    
    {% else %}
        {value:"",label:"No authority found !!!"}
    {% endif %}
    ];
	// sorting the list
	availableTags.sort(function(a,b){
		var nameA=a.value.toLowerCase(), nameB=b.value.toLowerCase();
		if (nameA < nameB) {
    		return -1;
		}
		if (nameA > nameB) {
    		return 1;
		}
	return 0;
	}); 
    $( "#authority_hrn" ).autocomplete({
      source: availableTags,
      minLength: 0,
      select: function( event, ui ) {console.log(jQuery(this));}
    });
*/
	$("#submit_pi").click(function() {
		localStorage.clear();
	});
	// auto-complete the form
    jQuery("#org_name").combobox();

});
</script>
{% endblock %}

