{# fine for either layout-unfold1.html (logged in) or layout-unfold2.html (needs a login prompt) #}
{% extends layout_1_or_2 %}
 
{% block unfold_margin %}
{% include 'fed4fire/_widget-login.html' %}
{% endblock unfold_margin %}

{% block unfold_main %}
<div class='well-lg f4f-title'>
  <h2 style="font-weight: bold;">Welcome to Fed4Fire portal !</h2>
  <h4>New to Fed4fire? Please <a href="/portal/register">register</a> or learn more about <a href="http://fed4fire.eu/" target="_blank">the project</a>.</h3>
</div>
<div class='well'>
<p>
A federation of experimentation facilities will significantly accelerate Future Internet research. Fed4FIRE will deliver open and easily accessible facilities to the FIRE experimentation communities, which focus on fixed and wireless infrastructures, services and applications, and combinations thereof. 
</p>
<p>This UI server is connected to the manifold backend running at <code>{{ MANIFOLD_URL }}</code>.</p>
</div>
{% endblock unfold_main %}
