{# This is required by insert_above #}
{% insert_handler %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title> MySlice - slice page with python var foo = {{ foo }} </title>
{# This is where insert_str will end up #}
{% media_container prelude %}
<script>
{% container raw_js %}
</script>
<style>
{% container raw_css %}
</style>
</head>

{# let's add this one no matter what #}
{% insert_str prelude "css/miscell.css" %}

<body>
{% block menu %} <div class='menu'> {{ menu }} </div> {% endblock %}

{% block left %}
<div class='left'>
  {{ left|default:"The left area" }}
</div>
{% endblock %}

{% block main %}
<div class='main'>  <h1>Again, python var foo = {{ foo }} </h1>
  {{ main }}
</div>
<hr>
{% block content %} and more stuff if needed {% endblock %}
{% endblock %}

</body>
</html>
