{# This is required by insert_above #}
{% insert_handler %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title> Foo - an experimental slice page with foo= {{ foo }} </title>
{# This is where insert_str will end up #}
{% media_container prelude %}
<script>
{% container raw_js %}
</script>
<style>
{% container raw_css %}
</style>
</head>

<body>
{% block menu %} <div class='menu'> {{ menu }} </div> {% endblock %}
{% block float %} <div class='float'>
  <img class="logo" src="{{ STATIC_URL }}img/myslice-logo.png" alt="MySlice" />
  {{ float|default:"The float area" }} </div> {% endblock %}
{% block main %}
<div class='main'>  <h1>Again, foo = {{ foo }} </h1> {{ main }} </div>
<hr>
{% block content %} and more stuff if needed {% endblock %}
{% endblock %}
</body>
</html>
