{% extends 'myslice.html' %}

{% block content_main %}
<p>The URL variable name= {{ name }} </p>
{{ content_main|safe }}
{% endblock content_main %}

{% block content_related %}

{% insert_str prelude "datatables/js/dataTables.js" %}
{% insert_str prelude "css/slice.css" %}
{% insert prelude_js %}
$(document).ready(function () { $('#datatable').dataTable() } )
{% endinsert %}

<table id='datatable'>
  <thead> <tr> <th>slice</th> </tr> </thead>
  <tbody>
    {% for slicename in slices %}
    <tr><td> <a href="/slice/{{ slicename }}/">{{ slicename }}</a></td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content_related %}
