{% extends "layout_wide.html" %}

{% block head %}
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1RUj824JAiHRVqgc2CSIg4CpKHhh84Lw&sensor=false"></script> -->
<script src="{{ STATIC_URL }}js/onelab_slice-resource-view.js"></script>
<script>
	//myslice.slice = "{{ slice }}";
</script>
{% endblock %}

{% block content %}
	<div class="col-md-2">
		<div id="select-platform" class="list-group">
		</div>
			
		<!-- <ul class="list-group">
		  <li class="list-group-item">Filter: CPU</li>
		  <li class="list-group-item">Filter: Interface</li>
		  <li class="list-group-item">...</li>
		  <li class="list-group-item">...</li>
		  <li class="list-group-item">...</li>
		</ul> -->
	
	</div>
	<div class="col-md-10" style="height:100%;">
		<div class="row">
		  	{% include theme|add:"_widget-slice-sections.html" %}
		</div>
		<!-- <div class="row slice-pending">
			<ul class="nav nav-pills">
				<li><a href="">Unreserved</a></li>
				<li><a href="">Reserved</a></li>
				<li><a href="">Pending<span class="badge" id="badge-pending" style="display:none;"></span></a></li>
				<li>
					<button type="button" class="btn btn-primary apply" id="ApplyPendind">Apply</button>
					<button type="button" class="btn btn-default clear">Clear</button>
				</li>
				<li>
					<div id="loading" style="display:none;"><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading" /></div>
				</li>
			</ul>
		</div> -->
		<div class="row">
			{% if msg %}
			<div class="col-md-12"><p class="alert-success">{{ msg }}</p></div>
			{% endif %}
		</div>
		<div class="row">
			<ul class="nav nav-pills nav-resources">
			  <li class="active"><a data-panel="resources" href="#">Resources</a></li>
			  <li id="GoogleMap"><a data-panel="map" href="#">Map</a></li>
			  <li><a data-panel="pending" href="#">Pending</a></li>
			  <li><a href="#"></a></li>
			</ul>
		</div>
		<div class="row" style="height:100%;">
			<div id="resources" class="panel">
                {{list_resources}}
				<!-- <table cellpadding="0" cellspacing="0" border="0" class="table" id="objectList"></table> -->
			</div>
			<div id="map" class="panel" style="height:370px;display:none;">
                {{map_resources}}
			</div>
			<div id="pending" class="panel" style="height:370px;display:none;">
                {{pending_resources}}
			</div>
		</div>
	</div>
{% endblock %}
