{% extends "layout_wide.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<h1><img src="{{ STATIC_URL }}icons/slices-xs.png" alt="News" />News</h1>
        	<br />
        </div>
    </div>
 
	<div class="row">
        <div class="col-md-12">
		<b>15 July 2014</b> - The <b>OneLab</b> Portal opens with the <b>PlanetLab Europe</b>, <b>IOTLab</b> and <b>NITOS</b> testbeds!
		<p>
			Existing PlanetLab users will be able to open an account with their existing PLE credentials.
		</p>
		</div>
	</div>
</div>
{% endblock %}
