{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1> Terms and conditions</h1>
	<p align="left">
    <a name="_Ref238698453"></a>
    <a name="_Ref238699060"></a>
    <a name="_Ref249598367"></a>
    <a name="_Ref254443731"></a>
    <a name="_Ref254443916"></a>
    TERMS AND CONDITIONS
    <br/>
    Fibre: Future Internet testbeds experimentation between Brazil and Europe
    <br/>
</p>
					<p align="justify">
                    By registering as a FIBRE-BR testbed user, experimenters shall be deemed to accept these conditions of use:
                    </p>
		   <ol style="text-align:justify">
					<li>
			Users shall not use the testbed resources for any unlawful purpose and not (attempt to) breach or circumvent any administrative or security controls.
                    </li><br/>
					<li>
			Users shall respect intellectual property and confidentiality agreements.
                    </li><br/>
					<li>
			Users shall protect their access credentials (e.g. private keys or passwords).
                    </li><br/>
					<li>
			User access credentials will expire 1 year after your registration. Users can renew your registration at any time after the expiry date.
		    </li><br/>
					<li>
			Users shall immediately report any known or suspected security breach or misuse of the testbed or access credentials to FIBRE-BR´s Network Operation Centre (a.k.a. NOC).
		    </li><br/>
 					<li>
			Users must notify the NOC of any changes to their Registration Information.
                    </li><br/>
 					<li>
			Use of the testbed resources is at their own risk. The resources offered by each island are provided “as is”, with no guarantee that the testbed will be available at any time or that it will suit any purpose.
                    </li><br/>
 					<li>
			Logged information, including information provided by users for registration purposes, is used for administrative, operational, accounting, monitoring and security purposes only. This information may be disclosed, via secured mechanisms, only for the same purposes and only as far as necessary to other organizations cooperating with the FIBRE-BR testbed. Although efforts are made to maintain confidentiality, no guarantees are given.
                    </li><br/>
 					<li>
			The island administrators and resource providers are entitled to regulate, suspend or terminate users’ access, within their domain of authority, and users shall immediately comply with their instructions.
                    </li><br/>
					<li>
			Users are liable for the consequences of their violation of any of these conditions of use.
                    </li><br/>
		   </ol>

<p><br></p>
<div>
    <div>
        <div id="_com_1">
        </div>
    </div>
</div>	
</div>
</div>
<div class="row">
	<div class="col-md-12">

</div>
</div>
{% endblock %}

