{% extends "layout.html" %}

{% block content %}

<div class="row">
	<h1><img src="{{ STATIC_URL }}img/icon_user_small.png" alt="User Registration" /> User sign-up</h1>
</div>
<div class="row">
  <h3>Sign up information received.</h3>
  <p>You can now log in to the portal. You will have limited access. </p>
  <p>To gain full access, two steps are required:</p>
  <ul>
	<li>1. You confirm your signup request by clicking on the link in the email that we have sent to your email address.</li>
	<li>2. A manager from your organization validates your request. (We have sent email to your organisation's registered managers.)</li>
  </ul>
	<p></p>
	<p></p>
	<div><button type="button" class="btn btn-onelab" onclick="window.location.href='/'">Home</button></div>		
</div>

{% endblock %}
