{# This is required by insert_above #}
{% insert_handler %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title> MySlice - {{ title }} </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# This is where insert_str will end up #}
{% media_container prelude %}
<script type="text/javascript">
{# In case we need to add raw js code - use {% insert prelude_js %} ... {% endinsert %} #}
{% container prelude_js %}
{{ js_chunks }}
</script>
<style type="text/css">
{# In case we need to add raw css code #}
{% container prelude_css %}
{{ css_chunks }}
</style>
</head>

{# let's add these ones no matter what #}
{% insert_str prelude "jquery/js/jquery.js" %}
{% insert_str prelude "bootstrap/js/bootstrap.js" %}
{% insert_str prelude "bootstrap/css/bootstrap.css" %}
{% insert_str prelude "js/plugin.js" %}
{% insert_str prelude "css/myslice.css" %}

{# also add the stuff as collected in a Prelude class #}
{% for js_file in js_files %} {% insert_str prelude js_file %} {% endfor %}
{% for css_file in css_files %} {% insert_str prelude css_file %} {% endfor %}

<body>

{% block container %}
<div id="container">

  
  {% block topmenu %}
  {% include 'widget-topmenu.html' %}
  {% endblock topmenu %}

<div class="container-fluid">
  <div class="row-fluid">
    <div id="content-main" class="span9 columns">
      {% block content_main %}
      "The main content area (define block 'content_main')"
      {% endblock content_main %}
    </div><!--span9-->
    
    <div id='content-related' class='span3'>
      {% block content_related %}
      "The related content area (define block 'related_main')"
      {% endblock content_related %}
    </div><!--span3-->
  </div><!--raw-fluid-->
</div><!--container-fluid-->
{% endblock container %}

</body>
</html>
