{% extends 'myslice-layout.html' %}

{% block content_related %}
<p class='login-status'> {{ state }} </p>
<a href="/" alt="Home"><img class="logo" src="{{ STATIC_URL }}img/myslice-logo.png" alt="MySlice" /></a>
<form action="/login/" method="post">
  {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
  username:
  <input type="text" name="username" value="{{ username}}" /><br />
  password:
  <input type="password" name="password" value="" /><br />
  <input type="submit" value="Log In" />
</form>
{% endblock content_related %}
