{# This is required by insert_above #}
{% insert_handler %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title> MySlice - slice page with python var foo = {{ foo|default:"foo is undefined"}} </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# This is where insert_str will end up #}
{% media_container prelude %}
{% insert_str prelude "jquery/js/jquery.js" %}
{% insert_str prelude "bootstrap/js/bootstrap.js" %}
{% insert_str prelude "bootstrap/css/bootstrap.css" %}
{% insert_str prelude "js/plugin.js" %}
<script type="text/javascript">
{# In case we need to add raw js code - use {% insert prelude_js %} ... {% endinsert %} #}
{% container prelude_js %}
</script>
<style type="text/css">
{# In case we need to add raw css code #}
{% container prelude_css %}
</style>
</head>

{# let's add this one no matter what #}
{% insert_str prelude "css/myslice.css" %}

<body>

{% block container %}
<div id='container'>

    <div id='header'>
    {% block header %}
      <a id='menu_logo' href="/"><img class="logo" src="{{ STATIC_URL }}img/myslice-logo.png" alt="MySlice" /></a>
      {% include 'mymenu-widget.html' %}
    {% endblock header %}
    </div>

    <div id='content-main'>
      {% block content_main %}
      "The main content area (set block 'content_main')"
      {% endblock content_main %}
    </div>

    <div id='content-related'>
      {% block content_related %}
      "The related content area (set block 'related_main')"
      {% endblock content_related %}
    </div>

</div>
{% endblock container %}

</body>
</html>
