<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title> {{ title }} </title>
{{ 
</head>

<body>
<div class='wrapper'>

  <div class='top'> 
  {% block top %}
        <div class="header">
          <a href="/" alt="Home"><img class="logo" src="{{ STATIC_URL }}myslice-logo.png" alt="MySlice" /></a>
        </div>
  {% endblock top %}
  </div>
  <div class='menubar'> 
  {% block menubar %}
    <h1> Empty menubar for now </h1>
  {% endblock menubar %}
  </div>
  <div class='centered content'> 
  {% block content %}
    Welcome...
  {% endblock content %}
  </div>
</div>
</body> </html>
