{% extends 'layout-myslice.html' %}

{% block content_related %}
{% include 'widget-login.html' %}
{% endblock content_related %}

{% block content_main %}
</br>
<code>
This page is currently connected to the Manifold authentication backend, By default it is pointing to the Manifold API running at "demo.myslice.info", in case you want to point it to your own Manifold API, please edit engine/manifold_api.py.
</br></br>
And also, as a proof of concept, it uses a set of hardwired user accounts for testing purposes, see auth/backend.py for more details.
</code>
<p>Currently hard wired users:</p>
<ul>
  {% for k,v in hard_wired_users.iteritems %}
  <li class='well'> Name= <code>{{ k }}</code>, Password= <code>{{ v }}</code> </li>
  {% endfor %}
</ul>
{% endblock content_main %}
