{% extends 'layout-myslice.html' %}

{% block content_related %}
{% include 'widget-login.html' %}
{% endblock content_related %}

{% block content_main %}
<code>
This page is currently not connected to any useful authentication system, but instead, as a proof of concept, it uses a set of hardwired user accounts, see auth/backend.py for more details.
</code>
<p>Currently hard wired users:</p>
<ul>
  {% for k,v in hard_wired_users.iteritems %}
  <li class='well'> Name= <code>{{ k }}</code>, Password= <code>{{ v }}</code> </li>
  {% endfor %}
</ul>
{% endblock content_main %}
