p.login { 
    font-style: italic;
}
input.login {
    width: auto;
}    
input[type="password"] {
    border: solid 1px #444;
    background-image: url( '../img/form_input_password.png' );
    background-repeat: repeat-x;
    background-position: top;
}
