div#sidelist table.with-datatables {
    font-size: 130%;
}
/*demo to show how to tweak a given section by setting its domid*/
#complete-myquickfilter {
    background-color: #f0d0f0;
}
#myquickfilter {
    background-color: #f080f0;
}
