{#<!--begin {{ classname }}{{ domid }}-->#}
{% if visible %}
<div class='plugin-toggle{% if need_spin %} need-spin{% endif %}' id='toggle-{{ domid }}'>
{% if togglable %}
<p id='show-{{ domid }}' class='plugin-show'{% if toggled %} style='display:none;'{% endif %}><i class="icon-hand-right"></i>
<a href='#' class='plugin-tooltip' data-toggle='tooltip' data-original-title='Show plugin "{{ title }}" ({{ classname }})'>{{ title }}</a></p>
<p id='hide-{{ domid }}' class='plugin-hide'{% if not toggled %} style='display:none;'{% endif %}><i class="icon-hand-down"></i>
<a href='#' class='plugin-tooltip' data-toggle='tooltip' data-original-title='Hide plugin "{{ title }}" ({{ classname }})'>{{ title }}</a></p>
{% endif %}{# togglable #}
{% endif %}{# visible #}

<div class='plugin {{ classname }}' id='{{ domid }}'{% if not toggled %} style='display:none;'{% endif %}>
{{ plugin_content|safe }}
</div><!--plugin {{ classname }}{{ domid }}-->

{% if visible %}
</div>
{% endif %}{# visible #}
{#<!--end {{ classname }}{{ domid }}-->#}
