#header {
    position: fixed; 
    display: block;
    margin:0;
    top: 0px;
    left: 0px;
    right: 0px; 
    height: 60px;
    background-color: #f8f8f8;
}

#column-wrap {
    margin-top: 60px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
#content-main, #content-related {
    display: table-cell;
    position: static;
    padding: 10px;
}
#content-main {
    width: 100%;
}
#content-related {
    width: 200px;
}

img.logo {
    right:0px;
}
